﻿<section>
    <div class="page-header">
        <div class="actions">
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-info-outline"></span></button>
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-search"></span></button>
        </div>
        <h1>

            Datos de Cliente
        </h1>

    </div>
</section>

<div ng-controller="GestionClienteController">
    <i class="md md-person"></i>
    Cliente:
    <br />
    Email:
    <br />

</div>