﻿<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>

    </div>
    <div class="aside-dialog">

        <div class="aside-body bs-sidebar">

            <div id="cnt1">

                <div class="col-md-12" id="panel1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <span class="fa fa-question-circle"></span>{{item.Descripcion}} </h2>
                        </div>

                        <div ng-repeat="pregunta in preguntas track by pregunta.Id">
                            <br />
                            <hr />
                            <h3 class="panel-title">Pregunta: {{pregunta.Descripcion}}  </h3>
                            <div ng-repeat="respuesta in respuestas | filter:  respuesta.Pregunta.Id=pregunta.Id  ">
                                <div class="col-md-3">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="{{pregunta.Id}}" value="">
                                            {{respuesta.Descripcion}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                        <br />
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-success btn-sm btn-block">
                                        <span class="fa fa-send"></span>Submit</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary btn-sm btn-block">
                                        View Result</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>


</div>

<!--<style>
    #cnt1 {
        background-color: rgba(215, 212, 212, 0.88);
        margin-bottom: 70px;
    }

    #panel1 {
        padding: 20px;
    }

    .panel-body:not(.two-col) {
        padding: 0px;
    }

    .panel-body .radio, .panel-body .checkbox {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .panel-body .list-group {
        margin-bottom: 0;
    }

    .margin-bottom-none {
        margin-bottom: 0;
    }
</style>-->