﻿<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>

    </div>
    <div class="aside-dialog">

        <div class="aside-body bs-sidebar">
            <form class="form-floating" name="myForm" ng-submit="saveItem(item)">
                <fieldset>
                    <legend>{{traductor[81]}}</legend>

                    <div class="form-group filled">
                        <label class="control-label">{{traductor[80]}}</label>
                        <input type="text" class="form-control" ng-model="item.Descripcion" data-min-length="1" data-auto-select="true" ng-disabled="true" >
                    </div>

                    
                    <div class="form-group filled">
                        <label class="control-label">{{traductor[82]}}</label>
                        <input type="text" class="form-control" ng-model="item.pregunta" ng-disabled="!item.editing" required>
                    </div>

                 
                    <div class="form-group filled">
                        <label class="control-label">{{traductor[83]}}</label>
                        <input type="text" class="form-control" ng-model="respuesta" ng-disabled="!item.editing" ng-keypress="($event.charCode==13)?agregarRespuesta(respuesta):return" required>
                    </div>

                    <table class="table table-full m-b-60" id="table-area-1">
                        <thead>
                            <tr fsm-sticky-header scroll-body="'#table-area-1'">

                                <th>Respuestas</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, pos) in respuestas">

                                <td>{{ pos }}</td>

                            </tr>
                        </tbody>
                    </table>



                    <div class="form-group">
                        <button type="button" class="btn btn-success" ng-disabled="!myForm.$valid" ng-hide="!item.editing" ng-click="agregar()"><i class="md-my-library-add"></i>{{traductor[84]}}</button>

<!--                        <button type="button" class="btn btn-primary" ng-click="verMas(item)"><i class="glyphicon glyphicon-plus-sign"></i>Ver Todas</button>-->
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>