﻿<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>

    </div>
    <div class="aside-dialog">

        <div class="aside-body bs-sidebar">
            <form class="form-floating" name="myForm" ng-submit="saveItem(item)">
                <fieldset>
                    <legend>{{traductor[80]}}</legend>
                    <div class="form-group filled">
                        <label class="control-label">{{traductor[25]}}</label>
                        <input type="text" class="form-control" ng-model="item.Descripcion" ng-disabled="!item.editing" ng-pattern="/^[a-zA-Z_ ñáéíóú]{1,255}$/" required>
                    </div>

                    <div class="row p-b-15">
                        <div class="col-lg-6">
                            <div class="form-group filled">
                                <label class="control-label">{{traductor[34]}}</label>
                                <input type="text" class="dp" ng-model="item.FechaDesde" data-autoclose="1" bs-datepicker="" ng-change='getdatefrom(FechaDesde)' datepicker-popup="dd-MM-yyyy">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group filled">
                                <label class="control-label">{{traductor[35]}}</label>
                                <input type="text" class="dp" ng-model="item.FechaHasta" data-autoclose="1" bs-datepicker="" ng-change='getdateto(FechaHasta)' datepicker-popup="dd-MM-yyyy">
                            </div>
                        </div>
                    </div>



                    <select name="filter" id="filter" ng-model="item.Libro"
                        ng-options="option.Titulo for option in libros track by option.Id"
                        ng-change="">
                    </select>
                    
                    <br />

                     {{mensajeFecha}}

                    <div class="form-group">
                        <button type="button" class="btn btn-lg btn-primary" ng-disabled="!myForm.$valid" ng-hide="!item.editing" ng-click="encuestaPut()">{{traductor[17]}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>