﻿<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>

    </div>
    <div class="aside-dialog">

        <div class="aside-body bs-sidebar">
            <form class="form-floating" name="myForm" ng-submit="saveItem(item)">
                <fieldset>
                    <legend>{{traductor[132]}}</legend>
                    <div class="form-group filled">
                        <label class="control-label">{{traductor[57]}}</label>
                        <input type="text" class="form-control" name="Titulo" ng-model="item.Titulo" ng-disabled="!item.editing" ng-pattern="/^[a-zA-Z_ ñáéíóú]{1,100}$/" required>
                    </div>
                    
                    <div class="form-group filled">
                        <!--Autor-->
                        <label class="control-label">{{traductor[86]}}</label>
                          <select name="filter" id="Select3" ng-model="item.Categoria" 
                           ng-options="option.Descripcion for option in categorias track by option.Id" 
                           ng-change="" ng-disabled="!item.editing"></select>
                    </div>

                    <div class="form-group filled">
                        <label class="control-label">{{traductor[25]}}</label>
                        <textarea class="form-control vertical ng-valid ng-touched" rows="3" ng-model="item.Descripcion" ng-pattern="/^[a-zA-Z_ ñáéíóú]{1,255}$/" ng-disabled="!item.editing"></textarea>
                    </div>

                     <div class="form-group filled">
                            <input type="file" file-model="item.image" required >
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-lg btn-primary" ng-disabled="!myForm.$valid" ng-hide="!item.editing" ng-click="NovedadPut()">{{traductor[17]}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>