﻿<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>

    </div>
    <div class="aside-dialog">

        <div class="aside-body bs-sidebar">  
            <form class="form-floating" name="myForm" ng-submit="saveItem(item)">
                <fieldset>
                    <legend>Newsletter</legend>

                    <div class="form-group filled">
                        <label class="control-label">{{traductor[12]}}</label>
                        <input type="text" class="form-control" ng-model="item.Nombre" ng-disabled="!item.editing" ng-pattern="/^[a-zA-Z_ ñáéíóú]{1,100}$/" required>
                    </div>
                    

                    <div class="form-group filled">
                        <label class="control-label">{{traductor[117]}}</label>
                        <input type="text" class="form-control" ng-model="item.Asunto" ng-disabled="!item.editing" ng-pattern="/^[a-zA-Z_ ñáéíóú]{1,100}$/" required>
                    </div>

                    <div class="form-group filled">
                        <label class="control-label">{{traductor[118]}}</label>
                        <textarea class="form-control vertical ng-valid ng-touched" rows="1" ng-model="item.Cuerpo" ng-pattern="/^[a-zA-Z_ ñáéíóú]{1,255}$/" ng-disabled="!item.editing"></textarea>
                    </div>

                    <div class="form-group filled">
                        <label class="control-label">{{traductor[54]}}</label>
                        <input type="text" class="form-control" ng-model="libro" data-min-length="1" data-auto-select="true" bs-options="libro.Titulo for libro in libros" bs-typeahead ng-disabled="!item.editing" ng-keypress="($event.charCode==13)?agregarLibro(libro):return">
                    </div>
                                  
                    <table class="table table-full m-b-60" id="table-area-1">
                        <thead>
                            <tr fsm-sticky-header scroll-body="'#table-area-1'">
<!--                                <th><input type="checkbox" class="relative" ng-model="selectAll" ng-click="checkAll()" /></th>-->
                                <th>{{traductor[54]}}</th>
                                <th>{{traductor[50]}}</th>
                                <th>{{traductor[44]}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, pos) in librosNewsletter">
<!--                                <td><input type="checkbox" class="relative" ng-model="item.selected" ng-click="$event.stopPropagation()" /></td>-->
                                <td>{{ pos.Titulo }}</td>
                                <td>{{ pos.Autor.Apellido}}, {{pos.Autor.Nombre}} </td>
                                <td>{{ pos.Editorial.Descripcion }}</td>
                            </tr>
                        </tbody>
                    </table>



                    <div class="form-group">
                        <button type="button" class="btn btn-lg btn-primary" ng-disabled="!myForm.$valid" ng-hide="!item.editing" ng-click="newsletterPut(item)">{{traductor[17]}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>