﻿<section>
    <div class="page-header">
        <div class="actions">
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-info-outline"></span></button>
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-search"></span></button>
        </div>
        <h1>
            <i class="md-insert-chart"></i>
            {{encuestaElegida.Descripcion}}

        </h1>

        <!--<p class="lead">
            {{traductor[60]}}

        </p>-->
    </div>

</section>
<div ng-controller="GestionRespuestasController">

    <div class="row">
        <div class="col-md-3 ">
            <div class="form-group filled">
                <!--Usuario-->
                <label class="control-label">{{traductor[34]}}</label>
                <input type="text" class="dp" ng-model="fechadesde" data-autoclose="1" bs-datepicker="" ng-change='getdatefrom(fechadesde)' datepicker-popup="dd-MM-yyyy">
            </div>

        </div>
        <div class="col-md-3">
            <div class="form-group filled">
                <label class="control-label">{{traductor[35]}}</label>
                <input type="text" class="dp" ng-model="fechahasta" data-autoclose="1" bs-datepicker="" ng-change='getdateto(fechahasta)' datepicker-popup="dd-MM-yyyy">
            </div>

        </div>
    </div>

    <div class="table-responsive well no-padding white no-margin">
        <h3 class="table-title"></h3>

        <div class="row m-b-40">
            <div class="col-md-6 col-md-push-6">
                <h5>Grafico de {{pp}}</h5>


                <div id="chart"></div>


            </div>

            
            <div class="col-md-6 col-md-pull-6">
            <div ng-repeat="pregunta in preguntas track by pregunta.Id">
                <div class="card">
                    <ul class="list-group">
                        <li class="list-group-item light-blue darken-1" ng-click="showGraph(pregunta);">
                            <i class="md-live-help"></i>
                            {{pregunta.Descripcion}}
                        </li>
                        <div ng-repeat="respuesta in respuestas | filter:  respuesta.Pregunta.Id=pregunta.Id  ">
                        <li class="list-group-item">
                            <span class="badge badge-warning">{{respuesta.votos}}</span>
                            <i class="md-question-answer"></i>
                            {{respuesta.respuesta.Descripcion}}
                        </li>
                        </div>
                    </ul>
                </div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer-buttons">
        <!--<div class="btn btn-primary btn-round btn-lg m-r-10 btn-footer" ng-show="(data|filter:{selected: true}).length" ng-click="remove()" data-title="Remove {{(data|filter:{selected: true}).length}} item(s)" bs-tooltip><i class="md md-delete"></i></div>
        <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="Scroll to top" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
        <div class="btn btn-primary btn-round btn-lg" ng-click="createItem()" data-title="{{traductor[27]}}" bs-tooltip><i class="md md-add"></i></div>-->
    </div>
</div>