﻿
<section id="argenlibris-controller" class="uaicase-app" ng-controller="diagramaController">

<div class="page-header">
    <h1>
        <i class="glyphicon glyphicon-equalizer"></i>
         {{selectedDiagram.Nombre}} 
        <input type="button" onclick="save(graph)" value="Save" />
    </h1>
    <p class="lead">
       
    </p>
</div>
    <div class="row">
        <div class="col-md-2">
           
           
            <div class="row">
        

                <!--<joint-stencil paper="vm.paper" graph="getGraph()" width="800" height="600" />-->
                <div id="stencil-holder-groups"></div> 
                    
            </div>
          
        </div>
                
        
        <div class="col-md-8">
            <div id="paper-holder-groups"> </div>
            <!--<joint-paper graph="getGraph()" width="800" height="600" grid-size="1" />-->
        </div>    
        <div class="col-md-2">
            <div id="inspector-holder-create"> </div>
            <div id="navigator"></div>
        </div>
    </div>
   

  
</section>


<script>


        var graph = new joint.dia.Graph;
    
        var paper = new joint.dia.Paper({
            el: $('#paper-holder-groups'),
            width: 600,
            height: 600,
            gridSize: 1,
            model: graph,
            linkPinning: false,
            linkConnectionPoint: joint.util.shapePerimeterConnectionPoint
        });
     
        var inspector;

        function createInspector(cellView) {

            // No need to re-render inspector if the cellView didn't change.
            if (!inspector || inspector.options.cellView !== cellView) {

                if (inspector) {
                    // Apply all unsaved changes on the cell before we remove the old inspector.
                    inspector.updateCell();
                    // Clean up the old inspector if there was one.
                    inspector.remove();
                }

                inspector = new joint.ui.Inspector({
                    inputs: {
                        myproperty: { type: 'number', defaultValue: 5, group: 'mydata', index: 1 },
                        attrs: {
                            text: {
                                text: { type: 'textarea', group: 'text', label: 'Text', index: 1 },
                                'font-size': { type: 'range', min: 5, max: 30, group: 'text', label: 'Font size', index: 2 }
                            }
                        },
                        position: {
                            x: { type: 'number', index: 1, group: 'position' },
                            y: { type: 'number', index: 2, group: 'position' }
                        }
                    },
                    groups: {
                        mydata: { label: 'My Data', index: 1 },
                        text: { label: 'Text', index: 2 },
                        position: { label: 'Position', index: 3 }
                    },
                    cellView: cellView
                });
                $('#inspector-holder-create').html(inspector.render().el);
            }
        }



        paper.on('cell:pointerdown', function (cellView) {
            createInspector(cellView);
        });
       



        var stencil = new joint.ui.Stencil({
            graph: graph,
            paper: paper,
            width: 200,
            height: 300,
            groups: {
                basic: { label: 'Formas básicas', index: 1 },
                erd: { label: 'ERD', index: 2, closed: true }
            }
        });
        $('#stencil-holder-groups').append(stencil.render().el);
     



        var wage = new joint.shapes.erd.WeakEntity({

            position: { x: 70, y: 15 },
            size: { width: 50, height: 30 },
            attrs: {
                text: {
                    fill: '#ffffff',
                    text: 'Wage',
                    'letter-spacing': 0,
                    style: { 'text-shadow': '1px 0 1px #333333' }
                },
                '.inner': {
                    fill: '#31d0c6',
                    stroke: 'none',
                    points: '155,5 155,55 5,55 5,5'
                },
                '.outer': {
                    fill: 'none',
                    stroke: '#31d0c6',
                    points: '160,0 160,60 0,60 0,0',
                    filter: { name: 'dropShadow', args: { dx: 0.5, dy: 2, blur: 2, color: '#333333' } }
                }
            }
        });



        var erdEntity = new joint.shapes.erd.Entity({

            position: { x: 10, y: 15 },
            size: { width: 50, height: 30 },
            attrs: {
                text: {
                    fill: '#ffffff',
                    text: 'entity',
                    'letter-spacing': 0,
                    style: { 'text-shadow': '1px 0 1px #333333' }
                },
                '.outer, .inner': {
                    fill: '#31d0c6',
                    stroke: 'none',
                    filter: { name: 'dropShadow', args: { dx: 0.5, dy: 2, blur: 2, color: '#333333' } }
                }
            }
        });

        var key = new joint.shapes.erd.Key({

            position: { x: 130, y: 15 },
            size: { width: 50, height: 30 },
            attrs: {
                text: {
                    fill: '#ffffff',
                    text: 'Key',
                    'letter-spacing': 0,
                    style: { 'text-shadow': '1px 0 1px #333333' }
                },
                '.outer, .inner': {
                    fill: '#feb662',
                    stroke: 'none'
                },
                '.outer': {
                    filter: { name: 'dropShadow', args: { dx: 0, dy: 2, blur: 2, color: '#222138' } }
                }
            }
        });

    http://www.jointjs.com/demos/erd
        var rel = new joint.shapes.erd.IdentifyingRelationship({

            position: { x: 10, y: 60 },
            size: { width: 50, height: 30 },
            attrs: {
                text: {
                    fill: '#ffffff',
                    text: 'Relation',
                    'letter-spacing': 0,
                    style: { 'text-shadow': '1px 0 1px #333333' }
                },
                '.inner': {
                    fill: '#7c68fd',
                    stroke: 'none'
                },
                '.outer': {
                    fill: 'none',
                    stroke: '#7c68fd',
                    filter: { name: 'dropShadow', args: { dx: 0, dy: 2, blur: 1, color: '#333333' } }
                }
            }
        });



        var r = new joint.shapes.basic.Rect({
            position: { x: 10, y: 15 }, size: { width: 50, height: 30 },
            attrs: { rect: { fill: '#2ECC71' }, text: { text: 'rect', fill: 'black' } }
        });
        var c = new joint.shapes.basic.Circle({
            position: { x: 70, y: 15 }, size: { width: 50, height: 30 },
            attrs: { circle: { fill: '#9B59B6' }, text: { text: 'circle', fill: 'white' } }
        });

        var t = new joint.shapes.basic.Text({
            position: { x: 10, y: 10 }, size: { width: 50, height: 30 },
            attrs: { text: { text: 'Text' } }
        });
       
        var multi = new joint.shapes.erd.Multivalued({

            position: { x: 130, y: 60 },
            size: { width: 50, height: 30 },
            attrs: {
                text: {
                    fill: '#ffffff',
                    text: 'Multi',
                    'letter-spacing': 0,
                    style: { 'text-shadow': '1px 0px 1px #333333' }
                },
                '.inner': {
                    fill: '#fe8550',
                    stroke: 'none',
                    rx: 43,
                    ry: 21

                },
                '.outer': {
                    fill: '#464a65',
                    stroke: '#fe8550',
                    filter: { name: 'dropShadow', args: { dx: 0, dy: 2, blur: 2, color: '#222138' } }
                }
            }
        });


        var attr = new joint.shapes.erd.Normal({

            position: { x: 70, y: 60 },
            size: { width: 50, height: 30 },
            attrs: {
                text: {
                    fill: '#ffffff',
                    text: 'Attr',
                    'letter-spacing': 0,
                    style: { 'text-shadow': '1px 0 1px #333333' }
                },
                '.outer': {
                    fill: '#fe8550',
                    stroke: '#fe854f',
                    filter: { name: 'dropShadow', args: { dx: 0, dy: 2, blur: 2, color: '#222138' } }
                }
            }
        });


        stencil.load([r, c],'basic');
        stencil.load([erdEntity, wage, key,rel,attr,multi], 'erd');
    

        paper.on('cell:pointerup', function (cellView) {
            // We don't want a Halo for links.
            if (cellView.model instanceof joint.dia.Link) return;

            var halo = new joint.ui.Halo({
                graph: graph,
                paper: paper,
                cellView: cellView,
                magnetFilter: function (magnetEl) { return $.contains(cellView.$('.inPorts')[0], magnetEl); }
            });
            halo.render();
        });

        
        //createInspector(paper.findViewByModel(r));

        function save()
        {
            angular.element(document.getElementById('argenlibris-controller')).scope().save(graph);
        }

      

</script>



