﻿<div class="aside bs-docs-aside" tabindex="-1" role="dialog" ng-controller="ProyectoExplorerController">
    <div class="close">
        <span ng-bind-html="estado(item.Estado)" ng-disabled="!item.editing"></span>
        <div class="btn btn-round btn-info" ng-click="closeExplorer()"><i class="md md-close"></i></div>

    </div>
    <div class="aside-dialog">

       
        <div class="aside-body bs-sidebar" context-menu="menuOptions">

            <form class="form-floating" > <!--ng-submit="saveItem(item)"--> 
                <fieldset>

                    <legend>Explorador de proyecto</legend>
                    <div class="row row-border">
                    <a  class="pull-left btn-xs" data-nodrag ng-click="newSubItem()" style="margin-right: 8px;">
                        <span class="<!--glyphicon glyphicon-folder-close-->">+ Nueva Carpeta </span> 
                    </a>
                    <a class="pull-left btn-xs " data-nodrag ng-click="newModel()" style="margin-right: 8px;">
                        <span class="<!--glyphicon glyphicon-equalizer-->">+ Nuevo Diagrama </span>
                    </a>
                        </div>
                    <!--<div class="list-group">
                    <a href="#"
                       class="list-group-item"
                       ng-repeat="item in selectedProyect.Elementos" >

                       <span ng-bind-html="tipoElemento(item)"></span>
                    </a>
                    </div>-->





                    <script type="text/ng-template" id="nodes_renderer.html">
                        <div ui-tree-handle class="tree-node tree-node-content">
                            <a class="" ng-if="node.Elementos && node.Elementos.length > 0" data-nodrag ng-click="toggle(this)">
                                <span class="glyphicon" style="padding: 5px;" ng-class="{ 'glyphicon-folder-close': collapsed,'glyphicon-folder-open': !collapsed}"></span>
                            </a>
                            
                            <a href="/app/#/proyectos/diagrama" ng-hide="node.IsFolder" name="Herramienta de modelado">
                            <span class="glyphicon glyphicon-file" > {{node.Nombre}}</span>
                             </a>
                                                        
                            <span ng-show="!this.editing && node.IsFolder">{{node.Nombre}} </span>
                            <!--<input ng-hide="!this.editing" ng-model="node.Nombre" required/>-->
                            <input type="text" ng-hide="!this.editing" ng-model="node.Nombre" ng-dblclick="editNode(this)" ng-keypress="($event.charCode==13)?editNode(this):return" required>
                            
                            
                              
                            <a class="pull-right" data-nodrag ng-click="remove(this)">
                                <span class="glyphicon glyphicon-remove" ng-hide="node.Id==selectedDiagram.Id"></span>
                            </a>
                            
                            

                            <a class="pull-right " data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">
                                <span class="glyphicon glyphicon-folder-close" ng-show="node.IsFolder"></span>
                            </a>
                            <a class="pull-right " data-nodrag ng-click="newModel(this)" style="margin-right: 8px;">
                                <span class="glyphicon glyphicon-equalizer" ng-show="node.IsFolder"></span>
                            </a>
                            <a class="pull-right " data-nodrag ng-click="this.editing=true" style="margin-right: 8px;" ng-hide="this.editing">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="pull-right " data-nodrag ng-click="this.editing=false" style="margin-right: 8px;" ng-hide="!this.editing">
                                <span class="glyphicon glyphicon-save"></span>
                            </a>
                            <a class="pull-right " ng-click="openDiagram(node)" data-nodrag  style="margin-right: 8px;" ng-hide="node.IsFolder">
                                <span class="glyphicon glyphicon-open-file"></span>
                            </a>
                        </div>
                        <ol ui-tree-nodes="" ng-model="node.Elementos" ng-class="{hidden: collapsed}">
                            <li ng-repeat="node in node.Elementos" ui-tree-node ng-include="'nodes_renderer.html'">
                            </li>
                        </ol>
                    </script>

               

                    <div class="row">
                        <div class="col-sm-12">
                            <div ui-tree id="tree-root">
                                <ol ui-tree-nodes ng-model="selectedProyect.Elementos">
                                    <li ng-repeat="node in selectedProyect.Elementos" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                                </ol>
                            </div>
                        </div>

                        
                    </div>


                </fieldset>
            </form>
        </div>
    </div>
</div>