﻿<section>
    <div class="page-header">
        <div class="actions">
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-info-outline"></span></button>
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-search"></span></button>
        </div>
        <h1>
            <i class="glyphicon glyphicon-send"></i>
            Suscripcion a Newsletter
        </h1>

    </div>
</section>
<div ng-controller="GestionSuscripcionController">


    <div class="form-group" ng-hide="!cagegoriasi">
        <div class="col-md-4" ng-repeat="categoria in categorias">
            <input type="checkbox" ng-model="categoria.Eleccion" name="" />
            {{categoria.Descripcion}}
        </div>
    </div>

    <div class="footer-buttons">
        
        <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="Scroll to top" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
    </div>
</div>