﻿<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>

    </div>
    <div class="aside-dialog">

        <div class="aside-body bs-sidebar">
            <form class="form-floating" name="myForm" ng-submit="saveItem(item)">
                <fieldset>
                    <legend>{{traductor[76]}} {{item.Numero}}</legend>

           <table class="table table-full m-b-60" id="table-area-1" >
            <thead>
                <tr fsm-sticky-header scroll-body="'#table-area-1'" >

                    <th fsm-sort="libro">{{traductor[53]}}</th>
                    <th fsm-sort="cantidad">{{traductor[78]}}</th>
                    <th fsm-sort="precio">{{traductor[77]}}</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, pos) in item.Posiciones">
                              
                    <td>{{ pos.Libro.Titulo}}</td>
                    <td>{{ pos.Cantidad}}</td>
                    <td>{{ pos.Precio}}</td>
                  
                </tr>
            </tbody>
        </table>

                </fieldset>
                            <h4 align="right"> Total: {{item.Total}} </h4>
            </form>
        </div>
    </div>
</div>