﻿<section>
    <div class="page-header">
        <div class="actions">
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-info-outline"></span></button>
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-search"></span></button>
        </div>
        <h1>
            <i class="md md-person"></i>
            {{traductor[101]}}
        </h1>

    </div>
</section>
<div ng-controller="GestionMiCuentaCorrienteController">

    <div class="table-responsive well no-padding white no-margin">
        <!--<h3 class="table-title">{{traductor[101]}} </h3>-->
        <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
            <thead>
                <tr scroll-body="'#table-area-1'" scroll-stop="64">
                    <th >{{traductor[76]}}</th>
                    <th >{{traductor[103]}}</th>
                    <th >{{traductor[98]}}</th>
                    <th >{{traductor[99]}}</th>
                    <th >Monto a debitar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, item) in data" ng-click="item.selected=!item.selected" ng-dblclick="editItem(item)">
                    <td>{{ item.Numero}}</td>
                    <td>{{ item.TipoDocumento}}</td>
                    <td>{{ item.Observacion}}</td>
                    <td>{{ item.Total}}</td>
                    <td>{{ item.MontoADebitar}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3>{{traductor[99]}}: {{total}} </h3>
    <div class="footer-buttons">
        
        <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="Scroll to top" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
    </div>
</div>