<div class="dashboard grey lighten-3" ng-controller="DashboardController">
  <div class="row no-gutter">

    <div class="col-sm-12 col-md-12 col-lg-9" style="background:#F9F9F9;">

      <div class="p-20 clearfix">
        <div class="pull-right">
          <!--<div class="btn btn-round-sm btn-link" bs-tooltip title="Upload media"><i class="md md-crop-original"></i></div>-->
<!--          <div class="btn btn-round-sm btn-link" bs-tooltip title="Nuevo Proyecto"><i class="md md-insert-drive-file"></i></div>-->
          <!--<div class="btn btn-round-sm btn-link" bs-tooltip title="Add new user"><i class="md md-person-add"></i></div>-->
        </div>
        <h4 class="grey-text">
          <i class="md md-dashboard"></i>
          <span class="hidden-xs">{{traductor[2]}}</span>
        </h4>
      </div>

      <div class="p-20 no-p-t">

        <div class="row gutter-14 kpi-dashboard">


              <div class="col-md-4">

                  <div class="card card-flip">
                      <div class="card-image ">
                          <img src="/app/assets/img/argenlibris 200 x 200.png" class="activator">
                          <span class="card-title"></span>
                      </div>
                      <div class="card-content">
                          <p>Aquí podrá encontrar información intersante acerca del proyecto</p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Argenlibris<i class="md md-close pull-right btn-flip"></i></span>
                          <p>Somos una empresa joven dedicada a la venta de libros. Formamos un grupo de trabajo entusiasta y proactivo. Somos interesados de la lectura y ofrecemos las mejores alternativas a nuestros clientes porque compartimos el aspecto más importante en la vida de un lector apasionado: <strong>la afición por la literatura.</strong> </p>
                      </div>
                      <div class="card-action clearfix">
                          <div class="pull-right">
                              <a href="" class="btn btn-link btn-icon btn-flip"><i class="md md-more-vert"></i>
                                  <div class="ripple-wrapper"></div>
                              </a>
                          </div>
                      </div>
                  </div>

              </div>
            </div>
       

<!--          <div class="col-md-4">
            


              <div class="card small">
              <div class="theme-lighten-1 p-10">
                <div class="pull-right">
                  <div>
                    <i class="md md-trending-up text-rgb-5"></i>
                    
                  </div>
                </div>

                <h4 class="no-margin white-text w600">{{proyectsCount}} Resguardos</h4>
                <div class="f11" style="opacity:0.8" ng-hide="proyectsCount==0">
                  <i class="md md-star-outline"></i> Ultimo  {{proyectoResumen.Lastest}}
                </div>

                <div class="p-10 p-t-30">
                
                </div>
              </div>

              <div class="card-content p-10">
                <div class="row">
                  <div class="col-md-6 text-center" style="border-right: 1px #F0F0F0 solid;">
                    <h3 class="no-margin w300">5</h3>
                    <p class="grey-text w600">Totales</p>
                  </div>
                  <div class="col-md-6 text-center">
                    <h3 class="no-margin w300">2</h3>
                    <p class="grey-text w600">Parciales</p>
                  </div>
                </div>
              </div>

            </div>
          </div>

            <div class="col-md-4">

                <div class="card small">
                    <div class="theme-lighten-1 p-10">
                        <div class="pull-right">
                            <div>
                                <i class="md md-trending-up text-rgb-5"></i>

                            </div>
                        </div>

                        <h4 class="no-margin white-text w600">{{misCursosCount}} Usuarios</h4>
                        <div class="f11" style="opacity:0.8" ng-hide="proyectsCount==0">
                            <i class="md md-star-outline"></i> Ultimo
                        </div>

                        <div class="p-10 p-t-30">

                        </div>
                    </div>

                    <div class="card-content p-10">
                        <div class="row">
                            <div class="col-md-6 text-center" style="border-right: 1px #F0F0F0 solid;">
                                <h3 class="no-margin w300">{{misCursosActivosCount}}</h3>
                                <h3 class="no-margin w300">1</h3>
                                <p class="grey-text w600">Activos</p>
                            </div>
                            <div class="col-md-6 text-center">
                                <h3 class="no-margin w300">{{misCursosFinalizadosCount}}</h3>
                                <h3 class="no-margin w300">2</h3>
                                <p class="grey-text w600">Totales</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="col-md-4">

                <div class="card small">
                    <div class="theme-lighten-1 p-10">
                        <div class="pull-right">
                            <div>
                                <i class="md md-trending-up text-rgb-5"></i>

                            </div>
                        </div>

                        <h4 class="no-margin white-text w600">{{proyectsCount}} Multilenguaje</h4>
                        <div class="f11" style="opacity:0.8" ng-hide="proyectsCount==0">
                            <i class="md md-star-outline"></i> Ultimo  {{proyectoResumen.Lastest}}
                        </div>

                        <div class="p-10 p-t-30">

                        </div>
                    </div>

                    <div class="card-content p-10">
                        <div class="row">
                            <div class="col-md-6 text-center" style="border-right: 1px #F0F0F0 solid;">
                                <h3 class="no-margin w300">2</h3>
                                <p class="grey-text w600">Idiomas</p>
                            </div>
                            <div class="col-md-6 text-center">
                                <h3 class="no-margin w300">20</h3>
                                <p class="grey-text w600">Textos</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>-->

<!--          <div class="row gutter-14 kpi-dashboard">
              <div class="col-md-8">
                 
              </div>

              <div class="col-md-4">

                  <div class="card card-flip">
                      <div class="card-image ">
                          <img src="/app/assets/img/argenlibris 200 x 200.png" class="activator">
                          <span class="card-title"></span>
                      </div>
                      <div class="card-content">
                          <p>Aquí podrá encontrar información intersante acerca del proyecto</p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Argenlibris<i class="md md-close pull-right btn-flip"></i></span>
                          <p>Somos una empresa joven dedicada a la venta de libros. Formamos un grupo de trabajo entusiasta y proactivo. Somos interesados de la lectura y ofrecemos las mejores alternativas a nuestros clientes porque compartimos el aspecto más importante en la vida de un lector apasionado: <strong>la afición por la literatura.</strong> </p>
                      </div>
                      <div class="card-action clearfix">
                          <div class="pull-right">
                              <a href="" class="btn btn-link btn-icon btn-flip"><i class="md md-more-vert"></i>
                                  <div class="ripple-wrapper"></div>
                              </a>
                          </div>
                      </div>
                  </div>




              </div>

          </div>-->

  

      
        
      </div>
    </div>

    <div class="col-lg-3 col-md-12">

      <div class="p-20">
        <div class="pull-right">
          <ul class="list-unstyled">
            <li class="dropdown">
              <button type="button"
                      class="btn btn-round-sm btn-link"
                      bs-dropdown="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      data-template="assets/tpl/partials/dropdown-list-example.html"
                      data-animation="mat-grow-top-right"
                      bs-tooltip
                      title="More stats">
                <i class="md md-equalizer"></i>
              </button>
            </li>
        </div>
        <h4 class="grey-text m-b-30">{{traductor[18]}}</h4>

       
      </div>

      <div class="p-h-40">

        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist" ng-init="actionTab=1">
            <li role="presentation" class="active"><a ng-click="actionTab=1" aria-controls="home" role="tab" data-toggle="tab">{{traductor[19]}}</a></li>
            <li role="presentation" class=""><a ng-click="actionTab=2" aria-controls="home" role="tab" data-toggle="tab">{{traductor[20]}}</a></li>
            <li role="presentation"><a ng-click="actionTab=3" aria-controls="home" role="tab" data-toggle="tab">{{traductor[21]}}</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content m-t-10">
            <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==1}">

              <ul class="timeline">
                <li ng-repeat="log in logs">
                  <!--<div class="timeline-badge">
                    <i class="icon-circle theme-border"></i>
                  </div>-->
                    <div class="timeline-badge" ng-bind-html="tipo(log.Tipo)"/>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{log.Titulo}}</h4>
                            </div>
                            <div class="timeline-body">
                                <p>A new user has registered and confirmed his account</p>
                                <small class="text-muted"><i class="md md-timer"></i> {{log.FechaCreacion}}</small>
                            </div>
                        </div>
</li>
                <!--<li class="timeline-inverted">
                  <div class="timeline-badge">
                    <i class="icon-circle theme-secondary-border"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">User payment</h4>
                    </div>
                    <div class="timeline-body">
                      <p>A new user has payed a premium package</p>
                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                    </div>
                  </div>
                </li>-->

              </ul>

            </div>
            <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==2}">

              <ul class="timeline" ng-init="(rows=[]).length=5;">
                <li ng-repeat="i in rows track by $index">
                  <div class="timeline-badge"><img placeholder-img class="img-responsive" /></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title" placeholder-name></h4>
                    </div>
                    <div class="timeline-body">
                      <span placeholder-p></span>
                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
            <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==3}">

              <ul class="timeline" ng-init="(rows=[]).length=5;">
                <li ng-repeat="i in rows track by $index">
                  <div class="timeline-badge" placeholder-icon></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title" placeholder-name></h4>
                    </div>
                    <div class="timeline-body">
                      <span spanlaceholder-p></span>
                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>

  
    </div>

  </div>


</div>
    