﻿<div class="page-error" ng-controller="forbiddenController">
<div class="center">
  <div class="card bordered z-depth-2" style="margin:0% auto; max-width:400px;">
    <div class="card-content">
      <div class="m-b-30 text-center">
        <i class="md md-cancel error-icon"></i>
        <h1 class="pink-text uppercase">Error 403</h1>
        <p class="card-title-desc">No tiene acceso a donde está queriendo ingresar..</p>
      </div>
    </div>
    <div class="card-action clearfix">
      <div class="text-center">
       </div>
    </div>
  </div>
</div>

<script charset="utf-8" src="//code.jquery.com/jquery-1.11.3.min.js"></script>



</div>