﻿<section>
    <div class="page-header">
        <div class="actions">
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-info-outline"></span></button>
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-search"></span></button>
        </div>
        <h1>
            <i class="md md-person"></i>
            Facturas
        </h1>
    </div>
</section>
<div ng-controller="GestionTodasFacturasController">

    <div class="table-responsive well no-padding white no-margin">
        <!--<h3 class="table-title">{{traductor[75]}}</h3>-->
        <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
            <thead>
                <tr fsm-sticky-header scroll-body="'#table-area-1'" scroll-stop="64">
                    <th><!--<input type="checkbox" class="relative" ng-model="selectAll" ng-click="checkAll()" />--></th>
                    <!--<th>Icon</th>-->
                    <th fsm-sort="numero">{{traductor[76]}}</th>
                    <th fsm-sort="fecha">{{traductor[36]}}</th>
                    <th fsm-sort="usuario">Usuario</th>
                    <th fsm-sort="total">Total</th>
                    <th fsm-sort="credito">Monto a Acreditar</th>
                    <th class="text-right">{{traductor[26]}}</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, item) in data" ng-click="item.selected=!item.selected" ng-dblclick="editItem(item)">
                    <td><!--<input type="checkbox" class="relative" ng-model="item.selected" ng-click="$event.stopPropagation()" />--></td>
                    <!--<td ng-bind-html="item.icon" class="f20"></td>-->
                    <td>{{ item.Numero}}</td>
                    <td>{{ item.Fecha}}</td>
                    <td>{{ item.Cliente.NombreUsuario}}</td>
                    <td>{{ item.Total}}</td>
                    <td><input type="text" ng-model="item.Credito" /></td>
                    <td class="text-right" ng-click="$event.stopPropagation()">
                        <!--<button type="button" class="btn btn-link btn-round" data-title="Edit" ng-click="editItem(item)"><i class="md md-system-update-tv" ></i></button>-->
                        <button type="button" class="btn btn-link btn-round" data-title="Ver" ng-click="viewItem(item)"><i class="md md-search"></i></button>
                        <button type="button" class="btn btn-link btn-round" data-title="guardar" ng-click="acreditar(item)" ng-disabled="item.Acreditado"><i class="md md-save"></i></button>

<!--                        <button type="button" class="btn btn-link btn-round" data-title="Ver" ng-click="sendItem(item)"><i class="md md-email"></i></button>-->
                        <!--<button type="button" class="btn btn-link btn-round" data-title="Borrar" ng-click="remove(item)"><i class="md md-delete"></i></button>-->
                       </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="footer-buttons">
        <!--<div class="btn btn-primary btn-round btn-lg m-r-10 btn-footer" ng-show="(data|filter:{selected: true}).length" ng-click="remove()" data-title="Remove {{(data|filter:{selected: true}).length}} item(s)" bs-tooltip><i class="md md-delete"></i></div>-->
        <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="Scroll to top" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
        <!--<div class="btn btn-primary btn-round btn-lg" ng-click="createItem()" data-title="{{traductor[27]}}" bs-tooltip><i class="md md-add"></i></div>-->
        <!--<div class="btn btn-primary btn-round btn-lg" ng-click="guardarCambios()" data-title="{{traductor[17]}}" bs-tooltip><i class="md md-save  "></i></div>-->
    </div>
</div>