﻿<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>

    </div>
    <div class="aside-dialog">

        <div class="aside-body bs-sidebar">
            <form class="form-floating" name="myForm" ng-submit="saveItem(item)">
                <fieldset>
                    <legend>Representar a un Cliente</legend>

                    <div class="form-group filled">
                        <label class="control-label">Vendedor</label> 
                     <input type="text" class="form-control" ng-model="item.Representante" data-min-length="1" data-auto-select="true" bs-options="usuario.NombreUsuario for usuario in vendedores" bs-typeahead ng-disabled="!item.editing" required >
                        </div>

                    <div class="form-group filled">
                        <label class="control-label">Cliente</label> 
                   <input type="text" class="form-control" ng-model="item.Cliente" data-min-length="1" data-auto-select="true" bs-options="usuario.NombreUsuario for usuario in clientes" bs-typeahead ng-disabled="!item.editing" required>
                           </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-lg btn-primary" ng-disabled="!myForm.$valid" ng-hide="!item.editing" ng-click="respresentacionPut()">{{traductor[17]}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>