﻿<section>
    <div class="page-header">
        <div class="actions">
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-info-outline"></span></button>
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-search"></span></button>
        </div>
        <h1>
            <i class="md md-person"></i>
            {{traductor[119]}}
        </h1>

    </div>
</section>
<div ng-controller="GestionRepresentantesController">

    <div class="table-responsive well no-padding white no-margin">
        <h3 class="table-title">{{traductor[120]}}</h3>
        <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
            <thead>
               
                    <th >{{traductor[122]}}</th>
                    <th >{{traductor[124]}}</th>

                    <th class="text-right">{{traductor[26]}}</th>

              
            </thead>
            <tbody>
                <tr ng-repeat="(key, item) in data" ng-click="item.selected=!item.selected" ng-dblclick="editItem(item)">
                              <td>{{ item.Representante.NombreUsuario}}</td>
                    <td>{{ item.Cliente.NombreUsuario}}</td>
                
                   <td class="text-right" ng-click="$event.stopPropagation()">
                        
                       <button type="button" class="btn btn-link btn-round" data-title="Edit" ng-click="editItem(item)"><i class="md md-edit"></i></button>
                        <button type="button" class="btn btn-link btn-round" data-title="Ver" ng-click="viewItem(item)"><i class="md md-search"></i></button>
                        <button type="button" class="btn btn-link btn-round" data-title="Borrar" ng-click="remove(item)"><i class="md md-delete"></i></button>
                        <button type="button" class="btn btn-link btn-round" ng-click="toggleChat(item.Id)" ng-hide="!isLogged" data-toggle="modal" data-target="#verChat" ng-click="verChat()" data-title="Chatear"><i class="md md-chat"></i> </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="footer-buttons">
        <!--<div class="btn btn-primary btn-round btn-lg m-r-10 btn-footer" ng-show="(data|filter:{selected: true}).length" ng-click="remove()" data-title="Remove {{(data|filter:{selected: true}).length}} item(s)" bs-tooltip><i class="md md-delete"></i></div>-->
        <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="Scroll to top" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
        <div class="btn btn-primary btn-round btn-lg" ng-click="createItem()" data-title="{{traductor[27]}}" bs-tooltip><i class="md md-add"></i></div>
        <!--<div class="btn btn-primary btn-round btn-lg" ng-click="guardarCambios()" data-title="{{traductor[17]}}" bs-tooltip><i class="md md-save  "></i></div>-->
    </div>

   
        </div>
</div>