﻿<section>
    <div class="page-header">
        <div class="actions">
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-info-outline"></span></button>
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-search"></span></button>
        </div>
        <h1>
            <i class="md md-person"></i>
            
        </h1>

    </div>
</section>

<div ng-controller="VentasController">

<div id="wrapper">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<div id="header">
		<p id="txt_title">Reporte de Ventas</p>
		<p id="txt_subtitle"></p>
	</div>

	<div id="q2_2010">
	<div id="q1_2010">
	<div id="q4_2009">
	<div id="q3_2009">
	<div id="q2_2009">
	<div id="q1_2005">
		<div id="labels">
			<ul>
				<li><span></span>Internet Explorer</li>
				<li><span></span>Mozilla Firefox</li>
				<li><span></span>Google Chrome</li>
				<li><span></span>Safari</li>
				<li><span></span>Opera</li>
			</ul>
		</div>
		<div id="pie_ico">Pie &raquo;</div>
		<div id="pyr_ico">&laquo; Pyramid</div>
		<div id="percentage_wrapper">
			<div id="percentage">
				<ul>
					<li><p>5.14%</p><p>11.79%</p><p>13.90%</p><p>17.02%</p><p>18.28%</p><p>19.68%</p></li>
					<li><p>34.98%</p><p>74.56%</p><p>74.39%</p><p>73.28%</p><p>73.22%</p><p>76.83%</p></li>
					<li><p>7.14%</p><p>6.03%</p><p>4.27%</p><p>3.08%</p><p>2.35%</p><p>0%</p></li>
					<li><p>50.10%</p><p>4.91%</p><p>4.64%</p><p>4.35%</p><p>3.89%</p><p>2.36%</p></li>
					<li><p>2.66%</p><p>2.73%</p><p>2.52%</p><p>2.29%</p><p>2.27%</p><p>1.15%</p></li>
				</ul>
			</div>
		</div>
		<div id="slider">
			<div id="chart_holder">
				<div id="pie_chart">
					<ul>
						<li id="c1_r"><p><span class="pie_left"></span></p></li> 	
						<li id="c1_l"><p><span class="pie_right"></span></p></li>
						<li id="c2_r"><p><span class="pie_left"></span></p></li> 	
						<li id="c2_l"><p><span class="pie_right"></span></p></li>
						<li id="c3_r"><p><span class="pie_left"></span></p></li> 	
						<li id="c3_l"><p><span class="pie_right"></span></p></li>
						<li id="c4_r"><p><span class="pie_left"></span></p></li> 	
						<li id="c4_l"><p><span class="pie_right"></span></p></li>
						<li id="c5_r"><p><span class="pie_left"></span></p></li> 	
						<li id="c5_l"><p><span class="pie_right"></span></p></li>
					</ul>
				</div>
				<div id="pyr_chart">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="btn_panel">
			<ul>
				<li><a href="#q1_2005"><span>Q1</span><span>2005</span></a></li>
				<li><a href="#q2_2009"><span>Q2</span><span>2009</span></a></li>
				<li><a href="#q3_2009"><span>Q3</span><span>2009</span></a></li>
				<li><a href="#q4_2009"><span>Q4</span><span>2009</span></a></li>
				<li><a href="#q1_2010"><span>Q1</span><span>2010</span></a></li>
				<li><a href="#q2_2010"><span>Q2</span><span>2010</span></a></li>
			</ul>
		</div>
	</div> <!--q1_2005-->
	</div> <!--q2_2009-->
	</div> <!--q3_2009-->
	</div> <!--q4_2009-->
	</div> <!--q1_2010-->
	</div> <!--q2_2010-->

	
	
	
	</div>  

<!--    <div class="table-responsive well no-padding white no-margin">
        <h3 class="table-title">Ventas</h3>

        <fusioncharts
            width="600"
            height="400"
            type="column2d"
            datasource="{{myDataSource}}"></fusioncharts>
    </div>-->

<!--    <div class="col-sm-12 col-md-6">
      <div class="card small pie-chart">
        <div class="card-header">
          <div class="card-title">Pedidos</div>
        </div>
        <div class="card-content">
          <div bindto-id="pie-chart" class="ng-isolate-scope"><div id="pie-chart" class="c3" style="max-height: 320px; position: relative;"><svg width="463" height="320" style="overflow: hidden;">
            <defs><clipPath id="c3-1447756464576-clip"><rect width="463" height="296"></rect></clipPath><clipPath id="c3-1447756464576-clip-xaxis"><rect x="-31" y="-20" width="525" height="40"></rect></clipPath><clipPath id="c3-1447756464576-clip-yaxis"><rect x="-29" y="-4" width="20" height="320"></rect></clipPath><clipPath id="c3-1447756464576-clip-grid"><rect width="463" height="296"></rect></clipPath><clipPath id="c3-1447756464576-clip-subchart"><rect width="463"></rect></clipPath></defs><g transform="translate(0.5,4.5)"><text class="c3-text c3-empty" text-anchor="middle" dominant-baseline="middle" x="231.5" y="148" style="opacity: 0;"></text><rect class="c3-zoom-rect" width="463" height="296" style="opacity: 0;"></rect><g clip-path="url(http://localhost:49262/app/template/app/#c3-1447756464576-clip)" class="c3-regions" style="visibility: hidden;"></g><g clip-path="url(http://localhost:49262/app/template/app/#c3-1447756464576-clip-grid)" class="c3-grid" style="visibility: hidden;"><g class="c3-xgrid-focus"><line class="c3-xgrid-focus" x1="-10" x2="-10" y1="0" y2="296" style="visibility: hidden;"></line></g></g><g clip-path="url(http://localhost:49262/app/template/app/#c3-1447756464576-clip)" class="c3-chart"><g class="c3-event-rects c3-event-rects-single" style="fill-opacity: 0;"><rect class=" c3-event-rect c3-event-rect-0" x="0.5" y="0" width="463" height="296"></rect></g><g class="c3-chart-bars"><g class="c3-chart-bar c3-target c3-target-Data-1" style="opacity: 1; pointer-events: none;"><g class=" c3-shapes c3-shapes-Data-1 c3-bars c3-bars-Data-1" style="cursor: pointer;"></g></g><g class="c3-chart-bar c3-target c3-target-Data-2" style="opacity: 1; pointer-events: none;"><g class=" c3-shapes c3-shapes-Data-2 c3-bars c3-bars-Data-2" style="cursor: pointer;"></g></g><g class="c3-chart-bar c3-target c3-target-Data-3" style="opacity: 1; pointer-events: none;"><g class=" c3-shapes c3-shapes-Data-3 c3-bars c3-bars-Data-3" style="cursor: pointer;"></g></g></g><g class="c3-chart-lines"><g class="c3-chart-line c3-target c3-target-Data-1" style="opacity: 1; pointer-events: none;"><g class=" c3-shapes c3-shapes-Data-1 c3-lines c3-lines-Data-1"></g><g class=" c3-shapes c3-shapes-Data-1 c3-areas c3-areas-Data-1"></g><g class=" c3-selected-circles c3-selected-circles-Data-1"></g><g class=" c3-shapes c3-shapes-Data-1 c3-circles c3-circles-Data-1" style="cursor: pointer;"></g></g><g class="c3-chart-line c3-target c3-target-Data-2" style="opacity: 1; pointer-events: none;"><g class=" c3-shapes c3-shapes-Data-2 c3-lines c3-lines-Data-2"></g><g class=" c3-shapes c3-shapes-Data-2 c3-areas c3-areas-Data-2"></g><g class=" c3-selected-circles c3-selected-circles-Data-2"></g><g class=" c3-shapes c3-shapes-Data-2 c3-circles c3-circles-Data-2" style="cursor: pointer;"></g></g><g class="c3-chart-line c3-target c3-target-Data-3" style="opacity: 1; pointer-events: none;"><g class=" c3-shapes c3-shapes-Data-3 c3-lines c3-lines-Data-3"></g><g class=" c3-shapes c3-shapes-Data-3 c3-areas c3-areas-Data-3"></g><g class=" c3-selected-circles c3-selected-circles-Data-3"></g><g class=" c3-shapes c3-shapes-Data-3 c3-circles c3-circles-Data-3" style="cursor: pointer;"></g></g></g><g class="c3-chart-arcs" transform="translate(231.5,143)"><text class="c3-chart-arcs-title" style="text-anchor: middle; opacity: 0;"></text><g class="c3-chart-arc c3-target c3-target-Data-1"><g class=" c3-shapes c3-shapes-Data-1 c3-arcs c3-arcs-Data-1"><path class=" c3-shape c3-shape c3-arc c3-arc-Data-1" transform="scale(1,1)" d="M-84.70108958250897,-106.21180689328183A135.85,135.85 0 0,1 -2.4955240149625186e-14,-135.85L0,0Z" style="fill: rgb(76, 175, 80); cursor: pointer; opacity: 1;"></path></g><text dy=".35em" class="" transform="translate(-35.89472845328758,-102.58124033791337)" style="opacity: 1; text-anchor: middle; pointer-events: none;">10.7%</text></g><g class="c3-chart-arc c3-target c3-target-Data-2"><g class=" c3-shapes c3-shapes-Data-2 c3-arcs c3-arcs-Data-2"><path class=" c3-shape c3-shape c3-arc c3-arc-Data-2" transform="scale(1,1)" d="M30.229468877965317,132.44395686990075A135.85,135.85 0 0,1 -84.70108958250897,-106.21180689328183L0,0Z" style="fill: rgb(33, 150, 243); cursor: pointer; opacity: 1;"></path></g><text dy=".35em" class="" transform="translate(-97.9172965636349,47.154484767296225)" style="opacity: 1; text-anchor: middle; pointer-events: none;">42.9%</text></g><g class="c3-chart-arc c3-target c3-target-Data-3"><g class=" c3-shapes c3-shapes-Data-3 c3-arcs c3-arcs-Data-3"><path class=" c3-shape c3-shape c3-arc c3-arc-Data-3" transform="scale(1,1)" d="M8.318413383208396e-15,-135.85A135.85,135.85 0 0,1 30.229468877965317,132.44395686990075L0,0Z" style="fill: rgb(156, 39, 176); cursor: pointer; opacity: 1;"></path></g><text dy=".35em" class="" transform="translate(107.9966429711976,-12.168299262907498)" style="opacity: 1; text-anchor: middle; pointer-events: none;">46.4%</text></g></g><g class="c3-chart-texts"><g class="c3-chart-text c3-target c3-target-Data-1" style="opacity: 1; pointer-events: none;"><g class=" c3-texts c3-texts-Data-1"></g></g><g class="c3-chart-text c3-target c3-target-Data-2" style="opacity: 1; pointer-events: none;"><g class=" c3-texts c3-texts-Data-2"></g></g><g class="c3-chart-text c3-target c3-target-Data-3" style="opacity: 1; pointer-events: none;"><g class=" c3-texts c3-texts-Data-3"></g></g></g></g><g clip-path="url(http://localhost:49262/app/template/app/#c3-1447756464576-clip-grid)" class="c3-grid c3-grid-lines"><g class="c3-xgrid-lines"></g><g class="c3-ygrid-lines"></g></g><g class="c3-axis c3-axis-x" clip-path="url(http://localhost:49262/app/template/app/#c3-1447756464576-clip-xaxis)" transform="translate(0,296)" style="visibility: visible; opacity: 0;"><text class="c3-axis-x-label" transform="" x="463" dx="-0.5em" dy="-0.5em" style="text-anchor: end;"></text><g class="tick" transform="translate(232, 0)" style="opacity: 1;"><line y2="6" x1="0" x2="0"></line><text y="9" x="0" transform="" style="text-anchor: middle; display: block;"><tspan x="0" dy=".71em" dx="0">0</tspan></text></g><path class="domain" d="M0,6V0H463V6"></path></g><g class="c3-axis c3-axis-y" clip-path="url(http://localhost:49262/app/template/app/#c3-1447756464576-clip-yaxis)" transform="translate(0,0)" style="visibility: visible; opacity: 0;"><text class="c3-axis-y-label" transform="rotate(-90)" x="0" dx="-0.5em" dy="1.2em" style="text-anchor: end;"></text><g class="tick" transform="translate(0,296)" style="opacity: 1;"><line x2="-6"></line><text x="-9" y="0" style="text-anchor: end;"><tspan x="-9" dy="3">20</tspan></text></g><g class="tick" transform="translate(0,272)" style="opacity: 1;"><line x2="-6"></line><text x="-9" y="0" style="text-anchor: end;"><tspan x="-9" dy="3">30</tspan></text></g><g class="tick" transform="translate(0,247)" style="opacity: 1;"><line x2="-6"></line><text x="-9" y="0" style="text-anchor: end;"><tspan x="-9" dy="3">40</tspan></text></g><g class="tick" transform="translate(0,223)" style="opacity: 1;"><line x2="-6"></line><text x="-9" y="0" style="text-anchor: end;"><tspan x="-9" dy="3">50</tspan></text></g><g class="tick" transform="translate(0,198)" style="opacity: 1;"><line x2="-6"></line><text x="-9" y="0" style="text-anchor: end;"><tspan x="-9" dy="3">60</tspan></text></g><g class="tick" transform="translate(0,174)" style="opacity: 1;"><line x2="-6"></line><text x="-9" y="0" style="text-anchor: end;"><tspan x="-9" dy="3">70</tspan></text></g><g class="tick" transform="translate(0,149)" style="opacity: 1;"><line x2="-6"></line><text x="-9" y="0" style="text-anchor: end;"><tspan x="-9" dy="3">80</tspan></text></g><g class="tick" transform="translate(0,124)" style="opacity: 1;"><line x2="-6"></line><text x="-9" y="0" style="text-anchor: end;"><tspan x="-9" dy="3">90</tspan></text></g><g class="tick" transform="translate(0,100)" style="opacity: 1;"><line x2="-6"></line><text x="-9" y="0" style="text-anchor: end;"><tspan x="-9" dy="3">100</tspan></text></g><g class="tick" transform="translate(0,75)" style="opacity: 1;"><line x2="-6"></line><text x="-9" y="0" style="text-anchor: end;"><tspan x="-9" dy="3">110</tspan></text></g><g class="tick" transform="translate(0,51)" style="opacity: 1;"><line x2="-6"></line><text x="-9" y="0" style="text-anchor: end;"><tspan x="-9" dy="3">120</tspan></text></g><g class="tick" transform="translate(0,26)" style="opacity: 1;"><line x2="-6"></line><text x="-9" y="0" style="text-anchor: end;"><tspan x="-9" dy="3">130</tspan></text></g><g class="tick" transform="translate(0,1)" style="opacity: 1;"><line x2="-6"></line><text x="-9" y="0" style="text-anchor: end;"><tspan x="-9" dy="3">140</tspan></text></g><path class="domain" d="M-6,1H0V296H-6"></path></g><g class="c3-axis c3-axis-y2" transform="translate(463,0)" style="visibility: hidden; opacity: 0;"><text class="c3-axis-y2-label" transform="rotate(-90)" x="0" dx="-0.5em" dy="-0.5em" style="text-anchor: end;"></text><g class="tick" transform="translate(0,296)" style="opacity: 1;"><line x2="6" y2="0"></line><text x="9" y="0" style="text-anchor: start;"><tspan x="9" dy="3">0</tspan></text></g><g class="tick" transform="translate(0,267)" style="opacity: 1;"><line x2="6" y2="0"></line><text x="9" y="0" style="text-anchor: start;"><tspan x="9" dy="3">0.1</tspan></text></g><g class="tick" transform="translate(0,237)" style="opacity: 1;"><line x2="6" y2="0"></line><text x="9" y="0" style="text-anchor: start;"><tspan x="9" dy="3">0.2</tspan></text></g><g class="tick" transform="translate(0,208)" style="opacity: 1;"><line x2="6" y2="0"></line><text x="9" y="0" style="text-anchor: start;"><tspan x="9" dy="3">0.3</tspan></text></g><g class="tick" transform="translate(0,178)" style="opacity: 1;"><line x2="6" y2="0"></line><text x="9" y="0" style="text-anchor: start;"><tspan x="9" dy="3">0.4</tspan></text></g><g class="tick" transform="translate(0,149)" style="opacity: 1;"><line x2="6" y2="0"></line><text x="9" y="0" style="text-anchor: start;"><tspan x="9" dy="3">0.5</tspan></text></g><g class="tick" transform="translate(0,119)" style="opacity: 1;"><line x2="6" y2="0"></line><text x="9" y="0" style="text-anchor: start;"><tspan x="9" dy="3">0.6</tspan></text></g><g class="tick" transform="translate(0,90)" style="opacity: 1;"><line x2="6" y2="0"></line><text x="9" y="0" style="text-anchor: start;"><tspan x="9" dy="3">0.7</tspan></text></g><g class="tick" transform="translate(0,60)" style="opacity: 1;"><line x2="6" y2="0"></line><text x="9" y="0" style="text-anchor: start;"><tspan x="9" dy="3">0.8</tspan></text></g><g class="tick" transform="translate(0,31)" style="opacity: 1;"><line x2="6" y2="0"></line><text x="9" y="0" style="text-anchor: start;"><tspan x="9" dy="3">0.9</tspan></text></g><g class="tick" transform="translate(0,1)" style="opacity: 1;"><line x2="6" y2="0"></line><text x="9" y="0" style="text-anchor: start;"><tspan x="9" dy="3">1</tspan></text></g><path class="domain" d="M6,1H0V296H6"></path></g></g><g transform="translate(0.5,320.5)" style="visibility: hidden;"><g clip-path="url(http://localhost:49262/app/template/app/#c3-1447756464576-clip-subchart)" class="c3-chart"><g class="c3-chart-bars"></g><g class="c3-chart-lines"></g></g><g clip-path="url(http://localhost:49262/app/template/app/#c3-1447756464576-clip)" class="c3-brush" style="pointer-events: all; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><rect class="background" x="0" width="463" style="visibility: hidden; cursor: crosshair;"></rect><rect class="extent" x="0" width="0" style="cursor: move;"></rect><g class="resize e" transform="translate(0,0)" style="cursor: ew-resize; display: none;"><rect x="-3" width="6" height="6" style="visibility: hidden;"></rect></g><g class="resize w" transform="translate(0,0)" style="cursor: ew-resize; display: none;"><rect x="-3" width="6" height="6" style="visibility: hidden;"></rect></g></g><g class="c3-axis-x" transform="translate(0,0)" clip-path="url(http://localhost:49262/app/template/app/#c3-1447756464576-clip-xaxis)" style="opacity: 0;"><g class="tick" transform="translate(232, 0)" style="opacity: 1;"><line y2="6" x1="0" x2="0"></line><text y="9" x="0" transform="" style="text-anchor: middle; display: block;"><tspan x="0" dy=".71em" dx="0">0</tspan></text></g><path class="domain" d="M0,6V0H463V6"></path></g></g><g transform="translate(0,300)"><g class=" c3-legend-item c3-legend-item-Data-1" style="visibility: visible; cursor: pointer; opacity: 1;"><text x="158.34375" y="9" style="pointer-events: none;">Data 1</text><rect class="c3-legend-item-event" x="144.34375" y="-5" width="61.4375" height="18" style="fill-opacity: 0;"></rect><rect class="c3-legend-item-tile" x="144.34375" y="0" width="10" height="10" style="pointer-events: none; fill: rgb(76, 175, 80);"></rect></g><g class=" c3-legend-item c3-legend-item-Data-2" style="visibility: visible; cursor: pointer; opacity: 1;"><text x="219.78125" y="9" style="pointer-events: none;">Data 2</text><rect class="c3-legend-item-event" x="205.78125" y="-5" width="61.4375" height="18" style="fill-opacity: 0;"></rect><rect class="c3-legend-item-tile" x="205.78125" y="0" width="10" height="10" style="pointer-events: none; fill: rgb(33, 150, 243);"></rect></g><g class=" c3-legend-item c3-legend-item-Data-3" style="visibility: visible; cursor: pointer; opacity: 1;"><text x="281.21875" y="9" style="pointer-events: none;">Data 3</text><rect class="c3-legend-item-event" x="267.21875" y="-5" width="51.4375" height="18" style="fill-opacity: 0;"></rect><rect class="c3-legend-item-tile" x="267.21875" y="0" width="10" height="10" style="pointer-events: none; fill: rgb(156, 39, 176);"></rect></g></g></svg><div class="c3-tooltip-container" style="position: absolute; pointer-events: none; display: none; top: 280.5px; left: 285.5px;"><table class="c3-tooltip"><tbody><tr class="c3-tooltip-name-Data 3"><td class="name"><span style="background-color:#9c27b0"></span>Data 3</td><td class="value">46.4%</td></tr></tbody></table></div></div><div ng-transclude="">
            <chart-column column-id="Data 3" column-values="130" column-type="pie" class="ng-scope ng-isolate-scope">
            <chart-column column-id="Data 2" column-values="120" column-type="pie" class="ng-isolate-scope">
            <chart-column column-id="Data 1" column-values="30" column-type="pie" class="ng-isolate-scope">
            <chart-colors color-pattern="#4CAF50,#2196F3,#9c27b0,#ff9800,#F44336" class="ng-isolate-scope">
          </chart-colors></chart-column></chart-column></chart-column></div></div>
        </div>
      </div>
    </div>-->

</div>