﻿<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>

    </div>
    <div class="aside-dialog">

        <div class="aside-body bs-sidebar">
            <form class="form-floating" name="myForm" ng-submit="saveItem(item)">
                <fieldset>
                    <legend></legend>
                    <div class="form-group filled">
                        <label class="control-label">{{traductor[33]}}</label>
                        <input type="text" class="form-control" ng-model="item.NombreUsuario" ng-disabled="true" required>
                    </div>
                    <p>Mis Roles</p>
                    <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
                        <thead>
                            <tr fsm-sticky-header scroll-body="'#table-area-1'" scroll-stop="64">

                                <th >Rol</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, item) in misroles" ng-click="item.selected=!item.selected" ng-dblclick="editItem(item)">

                                <td>{{ item.Nombre}}</td>

                            </tr>
                        </tbody>
                    </table>

                    <div class="form-group filled">

                        <label class="control-label">Roles</label>
                        <select name="filter" id="filter" ng-model="nuevoRol"
                            ng-options="option.Nombre for option in roles track by option.Id"
                            ng-disabled="!item.editing">
                        </select>

                    </div>

                    <button type="button" class="btn btn-link btn-round" ng-click="agregarRol(nuevoRol)" data-title="{{traductor[27]}}" bs-tooltip><i class="md md-add"></i></button>

                    <div class="form-group">
                        <button type="button" class="btn btn-lg btn-primary" ng-disabled="!myForm.$valid" ng-hide="!item.editing" ng-click="rolPut()">{{traductor[17]}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>