﻿<section>
    <div class="page-header">
        <div class="actions">
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-info-outline"></span></button>
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-search"></span></button>
        </div>
        <h1>
            <i class="md md-person"></i>
          {{traductor[6]}} <!--gestion de bitacora-->
        </h1>
        <p class="lead">
            {{traductor[32]}} <!--Aqui encontrara todos los bitacoras del sistema-->

        </p>
    </div>
</section>
<div ng-controller="GestionBitacoraController">
    <div class="row">

        <div class="col-md-3">
            <div class="form-group filled">
                <label class="control-label">Tipo de Operacion</label>
                <select name="filter" id="Select2" ng-model="TipoOperacion"
                    ng-options="key as val for (key, val) in options"
                    ng-change="loadData()" >
                </select>
            </div>
        </div>



        <div class="col-md-3">
            <div class="form-group filled">
                <!--Idiomas-->
                <label class="control-label">{{traductor[33]}}</label>
                <select name="filter" id="filter" ng-model="Usuario"
                    ng-options="option.NombreUsuario for option in usuarios track by option.Id"
                    ng-change="loadData(Usuario.Id)">
                </select>
            </div>
        </div>

         
         <div class="col-md-3 ">
            <div class="form-group filled">
                <!--Usuario-->
                <label class="control-label">{{traductor[34]}}</label>
                <input type="text" class="dp" ng-model="FechaDesde"  data-autoclose="1" bs-datepicker="" ng-change='getdatefrom(FechaDesde)' datepicker-popup="dd-MM-yyyy">
            </div>

        </div>
        <div class="col-md-3">
            <div class="form-group filled">
                <label class="control-label">{{traductor[35]}}</label>
                <input type="text" class="dp" ng-model="FechaHasta" data-autoclose="1" bs-datepicker="" ng-change='getdateto(FechaHasta)' datepicker-popup="dd-MM-yyyy">
            </div>

        </div>
    </div>


    <div class="table-responsive well no-padding white no-margin">
    </div>
    <h3 class="table-title">Bitacora</h3>
    <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
        <thead>
            <tr fsm-sticky-header scroll-body="'#table-area-1'" scroll-stop="64">
                <th>
                    <!--<input type="checkbox" class="relative" ng-model="selectAll" ng-click="checkAll()" />--></th>
                <!--<th>Icon</th>-->
                <th fsm-sort="fecha">{{traductor[36]}}</th>
                <th fsm-sort="mensaje">{{traductor[37]}}</th>
                <th fsm-sort="tipodeentidad">{{traductor[38]}}</th>
                <th fsm-sort="entidad">{{traductor[39]}}</th>
                <th fsm-sort="tipodemensaje">{{traductor[40]}}</th>
                <th fsm-sort="usuario">{{traductor[33]}}</th>
                <!--<th class="text-right">Acciones</th>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key, item) in data" ng-click="item.selected=!item.selected" ng-dblclick="editItem(item)">
                <td>
                    <!--<input type="checkbox" class="relative" ng-model="item.selected" ng-click="$event.stopPropagation()" />--></td>
                <!--<td ng-bind-html="item.icon" class="f20"></td>-->
                <td>{{ item.Fecha }}</td>
                <td>{{ item.Mensaje}}</td>
                <td>{{ item.TipoDeEntidad }}</td>
                <td>{{ item.IdEntidad }}</td>
                <td>{{ item.TipoDeMensaje }}</td>
                <td>{{ item.Usuario.NombreUsuario }}</td>
                <!--<td ng-bind-html="estado(item)" class="f20"></td>-->
                <!-- <td class="text-right" ng-click="$event.stopPropagation()">
                        <button type="button" class="btn btn-link btn-round" data-title="Edit" ng-click="editItem(item)"><i class="md md-edit"></i></button>
                        <button type="button" class="btn btn-link btn-round" data-title="Ver" ng-click="viewItem(item)"><i class="md md-search"></i></button>
                        <button type="button" class="btn btn-link btn-round" data-title="Borrar" ng-click="remove(item)"><i class="md md-delete"></i></button>
                        <button type="button" class="btn btn-link btn-round" data-title="Borrar" ng-hide="(item.Username!=undefined)" ng-click="sendRegistrationForm(item)"><i class="md md-send"></i></button>
                    </td>-->
            </tr>
        </tbody>
    </table>
</div>

<div class="footer-buttons">
    <!--<div class="btn btn-primary btn-round btn-lg m-r-10 btn-footer" ng-show="(data|filter:{selected: true}).length" ng-click="remove()" data-title="Remove {{(data|filter:{selected: true}).length}} item(s)" bs-tooltip><i class="md md-delete"></i></div>-->
    <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="Scroll to top" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
    <!--<div class="btn btn-primary btn-round btn-lg" ng-click="createItem()" data-title="{{traductor[27]}}" bs-tooltip><i class="md md-add"></i></div>-->
</div>
</div>