﻿<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>

    </div>
    <div class="aside-dialog">

        <div class="aside-body bs-sidebar">
            <form class="form-floating" name="myForm" ng-submit="saveItem(item)">
                <fieldset>
                    <legend>Rol</legend>
                    <div class="form-group filled">
                        <label class="control-label">{{traductor[25]}}</label>
                        <input type="text" class="form-control" ng-model="item.Nombre" ng-disabled="!item.editing" ng-pattern="/^[a-zA-Z]{1,255}$/" required>
                    </div>
                    <p>Permisos</p>
                    <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
                        <thead>
                            <tr fsm-sticky-header scroll-body="'#table-area-1'" scroll-stop="64">

                                <th >Nombre</th>
                                <th >Permiso</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, item) in item.Permisos" ng-click="item.selected=!item.selected" ng-dblclick="editItem(item)">

                                <td>{{ item.Nombre}}</td>
                                <td>{{ item.Permiso}}</td>

                            </tr>
                        </tbody>
                    </table>

                    <div class="form-group filled">

                        <label class="control-label">Permisos</label>
                        <select name="filter" id="filter" ng-model="nuevoPermiso"
                            ng-options="option.Nombre for option in permisos track by option.Id"
                            ng-disabled="!item.editing">
                        </select>

                    </div>

                    <button type="button" class="btn btn-link btn-round" ng-click="agregarPermiso(nuevoPermiso)" data-title="{{traductor[27]}}" bs-tooltip><i class="md md-add"></i></button>

                    <div class="form-group">
                        <button type="button" class="btn btn-lg btn-primary" ng-disabled="!myForm.$valid" ng-hide="!item.editing" ng-click="rolPut()">{{traductor[17]}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>