﻿<section>
    <div class="page-header">
        <div class="actions">
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-info-outline"></span></button>
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-search"></span></button>
        </div>
        <h1>
            <i class="md md-person"></i>
        Gestion Backups
        </h1>
        <p class="lead">
           aqui podra realizar un backup y restaurar el sistema a un punto anterior
        </p>
    </div>
</section>
<div ng-controller="GestionBackupController">



    <div class="table-responsive well no-padding white no-margin">
    </div>
    <h3 class="table-title">Backup y Restore</h3>
    <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
        <thead>
            <tr fsm-sticky-header scroll-body="'#table-area-1'" scroll-stop="64">
                <th>
                    <!--<input type="checkbox" class="relative" ng-model="selectAll" ng-click="checkAll()" />--></th>
                <!--<th>Icon</th>-->
                <th fsm-sort="fecha">Fecha</th>
                <th fsm-sort="Nombre">Nombre</th>
                <th fsm-sort="usuario">Acciones</th>
                <!--<th class="text-right">Acciones</th>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key, item) in backups" ng-click="item.selected=!item.selected" ng-dblclick="editItem(item)">
                <td>
                    <!--<input type="checkbox" class="relative" ng-model="item.selected" ng-click="$event.stopPropagation()" />--></td>
                <!--<td ng-bind-html="item.icon" class="f20"></td>-->
                <td>{{ item.Fecha | date : 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>{{ item.Nombre}}</td>
               <td class="text-right" ng-click="$event.stopPropagation()">
                        <button type="button" class="btn btn-link btn-round" data-title="Restore" ng-click="restoreBackup(item.Id)"><i class="md md-settings-backup-restore"></i></button>
                                  </td>
            </tr>
        </tbody>
    </table>


<div class="footer-buttons">
    <div class="btn btn-primary btn-round btn-lg m-r-10 btn-footer"  ng-click="doBackup()" data-title="Hacer Backup" bs-tooltip><i class="md md-backup"></i></div>
    <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="Scroll to top" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
    <!--<div class="btn btn-primary btn-round btn-lg" ng-click="createItem()" data-title="{{traductor[27]}}" bs-tooltip><i class="md md-add"></i></div>-->
</div>
</div>