﻿<section>
    <div class="page-header">
        <div class="actions">
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-info-outline"></span></button>
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-search"></span></button>
        </div>
        <h1>
            <i class="md md-person"></i>
            {{traductor[5]}} 
            <!--Gestion de traducciones-->
        </h1>
        <p class="lead">
            {{traductor[22]}}
            <!--Aqui encontrara todos los idiomas del sistema-->

        </p>
    </div>
</section>
<div ng-controller="GestionTraduccionesController">



    <div class="table-responsive well no-padding white no-margin">
        <!--Idiomas-->
        <h3 class="table-title">{{traductor[23]}}
            <select name="mySelect" id="mySelect"
                ng-options="option.Descripcion for option in idiomas track by option.Id"
                ng-model="idioma" ng-change="loadData(idioma.Id)">
            </select></h3>


        <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
            <thead>
                <tr fsm-sticky-header scroll-body="'#table-area-1'" scroll-stop="64">
                    <!--<th>Icon</th>-->
                    <th fsm-sort="numero">{{traductor[30]}}</th>
                    <th fsm-sort="descripcion">{{traductor[31]}}</th>
                    <!--<th class="text-right">{{traductor[26]}}</th>-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, item) in data" ng-click="item.selected=!item.selected" ng-dblclick="editItem(item)">
                    <!--<td ng-bind-html="item.icon" class="f20"></td>-->
                    <td>{{ item.Clave }}</td>
                    <td>
                        <input type="text" ng-model="item.Valor" /></td>


                <!--    <td class="text-right" ng-click="$event.stopPropagation()">
                        <button type="button" class="btn btn-link btn-round" data-title="Edit" ng-click="editItem(item)"><i class="md md-edit"></i></button>
                        <button type="button" class="btn btn-link btn-round" data-title="Ver" ng-click="viewItem(item)"><i class="md md-search"></i></button>
                        <button type="button" class="btn btn-link btn-round" data-title="Borrar" ng-click="remove(item)"><i class="md md-delete"></i></button>
                    </td>-->
                </tr>
            </tbody>
        </table>
    </div>

    <div class="footer-buttons">
        <!--<div class="btn btn-primary btn-round btn-lg m-r-10 btn-footer" ng-show="(data|filter:{selected: true}).length" ng-click="remove()" data-title="Remove {{(data|filter:{selected: true}).length}} item(s)" bs-tooltip><i class="md md-delete"></i></div>-->
        <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="Scroll to top" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
        <div class="btn btn-primary btn-round btn-lg" ng-click="guardarCambios()" data-title="{{traductor[17]}}" bs-tooltip><i class="md md-save  "></i></div>
    </div>
</div>
