﻿<section ng-controller="userProfileController">
    <div class="page-header">
        <h1>
            <i class="md md-input">{{traductor[7]}}</i>
            
        </h1>
        <p class="lead">
            {{traductor[8]}}
        </p>
    </div>


    <div class="col-md-12">


        <div class="col-md-8">

            <div class="well white">
                <form name="myForm">
                    <!--<fieldset>-->
                    <legend>{{traductor[9]}}</legend>

                    <div class="row p-b-15">
                        <div class="col-lg-6">
                            <div class="form-group filled">
                                <label class="control-label">{{traductor[10]}}</label>
                                <input type="text" class="form-control filled" ng-model="usuario.NombreUsuario" ng-disabled="true">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div ng-repeat="rol in roles">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="md md-account-box"></i>Rol</span>
                                        <input type="text" class="form-control" value="{{rol.Nombre}}" ng-disabled="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-b-15">
                        <div class="col-lg-6">
                            <div class="form-group filled">
                                <label class="control-label">{{traductor[11]}}</label>
                                <input type="text" class="form-control " ng-model="usuario.Apellido" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group filled">
                                <label class="control-label">{{traductor[12]}}</label>
                                <input type="text" class="form-control filled" ng-model="usuario.Nombre" required>
                            </div>
                        </div>
                    </div>

                    <div class="row p-b-15">
                        <div class="col-lg-12">
                            <div class="form-group filled">
                                <label class="control-label">{{traductor[13]}}</label>
                                <input type="email" class="form-control" ng-model="usuario.Email" required>
                            </div>

                        </div>
                    </div>

                    <div class="row p-b-15">
                        <div class="col-lg-6">
                            <div class="form-group filled">
                                <label class="control-label">{{traductor[14]}}</label>
                                <input type="text" class="form-control" ng-model="usuario.FechaNacimiento" data-autoclose="1" bs-datepicker>
                            </div>
                        </div>
                    </div>

                    <div class="row p-b-15">
                        <div class="col-lg-6">
                            <div class="form-group filled">
                                <label class="control-label">{{traductor[72]}}</label>
                                <input type="text" class="form-control filled" ng-model="usuario.Direccion" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-disabled="!myForm.$valid" ng-click="guardar()">{{traductor[17]}}</button>

                    </div>
                    <!--</fieldset>-->
                </form>
            </div>

        </div>

        <div class="col-md-4">
            <div class="col-md-12">
                <div class="card no-margin">
                    <div class="table-responsive white">
                        <h3 class="table-title p-20">{{traductor[110]}}</h3>

                        <table class="table table-striped table-full table-full-small">
                            <colgroup>
                                <col class="auto-cell-size">
                            </colgroup>
                            <thead>
                                <tr scroll-body="'#table-area-1'" scroll-stop="64">

                                    <th>{{traductor[68]}}</th>
                                    <th>{{traductor[36]}}</th>
                                    <th>{{traductor[111]}}</th>
                                    <th class="text-right"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key, item) in tarjetas" ng-click="item.selected=!item.selected">
                                    <!--                                        <td> <input type="checkbox" class="relative" ng-model="item.selected" ng-click="$event.stopPropagation()" /></td>-->

                                    <td>{{ item.NumeroTarjeta}}</td>
                                    <td>{{ item.FechaVencimiento}}</td>
                                    <td>{{ item.TipoDeTarjeta}}</td>

                                    <td class="text-right" ng-click="$event.stopPropagation()">
                                        <button type="button" class="btn btn-link btn-round" data-title="Borrar" ng-click="remove(item)"><i class="md md-delete"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <button type="button" class="btn btn-link btn-round" ng-click="agregarTarjeta()" data-title="{{traductor[27]}}" bs-tooltip><i class="md md-add"></i></button>
                        <br />

                        <form stripe-form="handleStripe" name="myForm" class="ng-pristine ng-valid">

                            <div class="span3">
                                <label for="">{{traductor[68]}}</label>
                                <input type="text" class="input-block-level ng-pristine ng-valid ng-valid-card" ng-model="tarjeta.NumeroTarjeta" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="myForm.number.$card.type">
                            </div>

                            <div class="span1">
                                <label for="">{{traductor[36]}}</label>
                                <input type="text" class="input-block-level ng-pristine ng-valid ng-valid-expiry" ng-model="tarjeta.FechaVencimiento" payments-validate="expiry" payments-format="expiry">
                            </div>

                            <div class="span1">
                                <label for="">CVC</label>
                                <input type="text" class="input-block-level ng-pristine ng-valid ng-valid-cvc" ng-model="tarjeta.CVC" payments-validate="cvc" payments-format="cvc" payments-type-model="type">
                            </div>

                            <div class="span4">
                                <button type="submit" ng-disabled="!myForm.$valid" class="btn btn-primary btn-large" ng-click="aceptar()">Guardar</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="col-md-12">

                <div class="col-md-4">
            <h3>Cambio de Password</h3>

                    <div class="well white" id="Div2">
                        <form name="myForm2">

                            <div class="row p-b-15">
                                <div class="col-lg-6">

                                    <div class="form-group filled">
                                        <label class="control-label">Password Anterior</label>
                                        <input type="password" id="Password1" name="pw1" class="form-control" ng-model="dtopassword.PasswordAnterior">
                                    </div>
                                    <div class="form-group filled">
                                        <label class="control-label">{{traductor[15]}}</label>
                                        <input type="password" id="pw1" name="pw1" class="form-control" ng-model="dtopassword.PasswordNuevo">
                                    </div>

                                </div>
                             <!--   <div class="col-lg-6">
                                    <div class="form-group filled">
                                        <label class="control-label">{{traductor[16]}}</label>
                                        <input type="password" id="pw2" name="pw2" class="form-control" ng-model="usuario.PasswordNueva2" pw-check="pw1">
                                    </div>
                                </div>
                                <div class="msg-block" ng-show="myForm2.$error">
                                    <span class="msg-error" ng-show="myForm2.pw2.$error.pwmatch">Passwords don't match.</span>
                                </div>-->

                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" ng-disabled="!myForm2.$valid" ng-click="cambiarPassword()">{{traductor[17]}}</button>

                                </div>

                            </div>
                        </form>
                    </div>
        </div>

        <div class="col-md-4">
            <h3>Suscripcion a Newsletter</h3>
            <div class="well white" id="Div1">
                <form name="myForm2">
                    <div ng-repeat="categoria in categorias">
                        <input type="checkbox" ng-model="categoria.Eleccion" name="" />{{categoria.Descripcion}}
                        
                        <br />
                    </div>
                    <div class="span4">
                        <button type="submit" class="btn btn-primary btn-large" ng-click="suscribir()">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>








</section>