﻿<!DOCTYPE html>
<html  ng-app="login">
<head>


  <title>Bienvenidos</title>

    <script charset="utf-8" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>

    <script src="app/assets/signalr/jquery.signalR.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">

<!--    <script src="starRating.js"></script>-->

        
    <script>
        $(function () {

            $("#fechanacimiento").datepicker();

        });
    </script>

</head>
<body ng-controller="loginController" ng-cloak>
   <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" ng-click="toggleInstitucional()">Argenlibris</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" ng-click="toggleCatalogo()">Catalogo <span class="sr-only">(current)</span></a></li>
        <li><a href="#" ng-click="toggleFaq()">Preguntas Frecuentes</a></li>
        <li><a href="#" ng-click="toggleNovedad()">Novedades</a></li>
        <li><a href="#" ng-click="toggleContacto()">Contacto</a></li>
      </ul>

      
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#" ng-click="toggleEncuestas()" ng-hide="!isLogged"><i ng-show="misEncuestas.length" class="badge badge-important">{{misEncuestas.length}}</i>Encuestas</a></li>
           <li><a href="#" ng-click="toggleFavoritos()" ng-hide="!isLogged">Historico</a></li>
            <li><a href="#" ng-click="toggleChat()" ng-hide="!isLogged || representanteId==undefined" data-toggle="modal" data-target="#verChat" ng-click="verChat()" data-title="Comparar " bs-tooltip> Chat </a></li>

                <div class="btn btn-primary btn-round btn-lg m-r-10 btn-footer" ng-show="(productos|filter:{selected: true}).length==2" data-toggle="modal" data-target="#comparar" ng-click="comparar()" data-title="Comparar " bs-tooltip>Comparar</div>
    
        <li ng-hide="isLogged"><a href="#" ng-click="toggleLogin()" >Login</a></li>
        <li ng-hide="!isLogged"><a href="#" ng-click="logout()" >Logout</a></li>
          <li ng-hide="!isLogged"><a href="" >Bienvenido {{user.Nombre}} </a></li>
          <li ng-hide="!isLogged">  <a href="/app/" >  Backend</a> <!--salir--></li>
        <li><a href="#"  ng-click="toggleCarrito()" ng-hide="!isLogged"><i ng-show="carrito.length" class="badge badge-important">{{carrito.length}}</i> Mis Compras <i class="glyphicon glyphicon-shopping-cart"></i> </a></li>
      
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <div id="Div1" ng-hide="!mostrarInstitucional" class="container">
        <div class="col-md-3">
            <br />
            <img src="images/b4.jpg" />
        </div>
        <div class="col-md-3 col-md-push-3" >
            <h3>Somos una empresa joven dedicada a la venta de libros. Formamos un grupo de trabajo entusiasta y proactivo. Somos interesados de la lectura y ofrecemos las mejores alternativas a nuestros clientes porque compartimos el aspecto más importante en la vida de un lector apasionado: <strong>la afición por la literatura.</strong> </h3>
        </div>

    </div>

    <div id="Div3" ng-hide="!mostrarNovedades" class="container col-lg-12">

        <div class="col-md-2" style="margin-top: 5.0em">
            <form class="form-floating" name="myFormNovedad" ng-submit="saveItem(item)">
                <fieldset>

                    <h3>Suscribirme</h3>

                    <div>
                        <input type="email" class="form-control" name="miMail" placeholder="Mail" ng-model="novedad.mail" required>
                    </div>

                    <div class="form-group">
                        <div ng-repeat="categoria in categorias">
                            <input type="checkbox" ng-model="categoria.Eleccion" name=""/>
                            {{categoria.Descripcion}}
                        </div>
                    </div>

                    <br />

                    <div class="form-group">
                        <button type="button" class="btn btn-lg btn-primary" ng-disabled="!myFormNovedad.$valid" ng-click="enviarMailNovedad()">Enviar</button>
                    </div>
                    {{mensajeCategoriaVisitante}}

                </fieldset>
            </form>
        </div>

        <div class="col-md-10">
        <h3>Novedades</h3>
        <br />

            <div class="col-md-4" ng-repeat="novedad in novedades">

                <div class="card">
                    
                    <img class="card-img-top" src="uploads/{{novedad.FileName}}"  ng-show="novedad.FileName" alt="" width="200" height="200" >
                    <img class="card-img-top" src="/images/sin.jpg"  ng-hide="novedad.FileName" alt="100%x180" alt="" width="200" height="200" >

<!--                    <img src="/uploads/{{novedad.FileName}}" onemptied="this.src='/images/sin.jpg';" alt="" width="200" height="200">-->

                    <div class="card-block">

                    <h4 class="card-title">{{novedad.Titulo}}</h4>

                    <p>{{novedad.Descripcion}}</p>

                    </div>

                </div>
                <br />
            </div>

         
        </div>

    </div>

    <div id="Div2" ng-hide="!mostrarContacto" class="container">

        <h3>Formulario de contacto</h3>

        <i>Envie su consulta y un empleado de Argenlibris se contactará con usted</i>

        <form class="form-floating" name="myForm" ng-submit="saveItem(item)">
            <fieldset>

                <br />

                <div style="margin-bottom: 25px" class="form-group filled">
                    <!--<input id="Text3" type="text" class="form-control" name="miMail" value="" ng-model="miMail" placeholder="Mail" required>-->
                    <input type="email" class="form-control" name="miMail" placeholder="Mail" ng-model="contacto.mail" required>
                </div>

                <div style="margin-bottom: 25px" class="form-group filled">
                    <input id="Text4" type="text" class="form-control" name="miNombre" value="" ng-model="contacto.nombre" placeholder="Nombre" required>
                </div>

                <div style="margin-bottom: 25px" class="form-group filled">
                    <textarea class="form-control vertical ng-valid ng-touched" rows="3" name="miObservacion" ng-model="contacto.observacion" placeholder="Observacion" required></textarea>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-lg btn-primary" ng-disabled="!myForm.$valid" ng-click="enviarMailContacto()">Enviar</button>
                </div>

                {{mensajeContacto}}

            </fieldset>
        </form>

    </div>


    <div id="encuesta" ng-hide="!mostrarEncuestas" class="container">
        <br />
        <h3>Tiene {{misEncuestas.length}} encuesta/s pendiente/s</h3>

        <div class="col-md-10">
            <div ng-repeat="encuesta in misEncuestas">
                <br />
                <h4><a href="" ng-click="seleccionarEncuesta(encuesta)">{{encuesta.Descripcion}}</a></h4>
            </div>
        </div>
    </div>


    <div id="encuestaDestalle" ng-hide="!mostrarEncuestasDetalle" class="container">
        <br/>
        <div class="col-md-10" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="fa fa-question-circle"></span>{{encuesta.Descripcion}} </h2>
                </div>

                <div ng-repeat="pregunta in preguntas track by pregunta.Id">
                    <br />
                    <hr />
                    <h3 class="panel-title">Pregunta: {{pregunta.Descripcion}}  </h3>
                    <div ng-repeat="respuesta in respuestas | filter:  respuesta.Pregunta.Id=pregunta.Id  ">
                        <div class="col-md-3">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="{{pregunta.Id}}" value="" ng-click="seleccionarRepuesta(respuesta)">
                                    {{respuesta.Descripcion}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>

                <br />
                <br />


                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-success btn-sm btn-block" ng-click="enviarEncuesta()">
                                <span class="glyphicon glyphicon-send"></span>Enviar</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary btn-sm btn-block" ng-click="cancelarEncuesta()">
                                Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-2" role="search" style="margin-top: 5.0em" ng-hide="!mostrarCatalogo">

        <div class="row">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Autor" ng-model="searchText">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Titulo" ng-model="searchText2">
            </div>
        </div>
          <div class="row">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
   <!-- <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>-->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/images/bienvenido.jpg" alt="Nov" width="460" height="345" ng-click="toggleInstitucional()">
               <h3>Argenlibris</h3>
      </div>
        <div class="item" ng-repeat="item in novedades">


        <img class="card-img-top" src="uploads/{{item.FileName}}"  ng-show="item.FileName" alt="Novedad" width="460" height="345" ng-click="toggleNovedad()" >
        <img class="card-img-top" src="/images/sin.jpg"  ng-hide="item.FileName" alt="Novedad" width="460" height="345" ng-click="toggleNovedad()" >

<!--        <img src="/uploads/{{item.FileName}}" onemptied="this.src='/images/sin.jpg';" alt="Novedad" width="460" height="345" ng-click="toggleNovedad()">-->
        
            <div class="carousel-caption">
        <h3>{{item.Titulo}}</h3>
      
      </div>
      </div>
      
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
             
        </div>
    </div>


    <div class="col-md-8">

    <div id="catalogo" ng-hide="!mostrarCatalogo">


        
        <div class="col-md-12">

            <div class="col-md-4" ng-repeat="producto in productos | filter:searchText | filter:searchText2">

                <div class="card">

                   
                    <img class="card-img-top" src="uploads/{{producto.FileName}}"  ng-show="producto.FileName" alt="100%x180" width ="180" height="200" >
                    <img class="card-img-top" src="/images/sin.jpg"  ng-hide="producto.FileName" alt="100%x180" width ="180" height="200" >

                    <!--<img class="card-img-top" src="uploads/{{producto.FileName}}" alt="100%x180"  onemptied="this.src='/images/sin.jpg';" width ="180" height="200" data-holder-rendered="true">-->
                    <div class="card-block">
                        <h4 class="card-title"><a href="" ng-click="seleccionarlibro(producto)"  data-toggle="modal" data-target="#seleccionarLibroModal">{{producto.Titulo}}</a></h4>
                        <p class="card-text">{{producto.Autor.Apellido}}, {{producto.Autor.Nombre}}</p>
                        <p class="card-text">Disponibilidad: {{producto.Disponibilidad}}</p>
                        <p class="card-text">Precio: {{producto.Precio}}</p>
                        <p class="card-text">
                            <small class="text-muted">
                                <a href="" class="glyphicon glyphicon-shopping-cart" ng-click="agregarCarrito(producto)" ng-hide="producto.Disponibilidad==0 || !isLogged"></a>

                                <a href="" class="glyphicon glyphicon-heart-empty" ng-click="agregarFavorito(producto)" ng-hide="(producto.Favoritos|filter:{ClienteId:user.Id}).length==1 || !isLogged"></a>
                                <i class="glyphicon glyphicon-heart-empty" ng-hide="isLogged"></i>

                                <i class="glyphicon glyphicon-heart" ng-show="(producto.Favoritos|filter:{ClienteId:user.Id}).length==1"></i>
                                ({{producto.Favoritos.length}})
                        
                        
                        <a href="" class="glyphicon glyphicon-star-empty" ng-click="agregarLeido(producto)" ng-hide="(producto.Leidos|filter:{ClienteId:user.Id}).length==1 || !isLogged"></a>
                                <i class="glyphicon glyphicon-star" ng-show="(producto.Leidos|filter:{ClienteId:user.Id}).length==1"></i>
                                <i class="glyphicon glyphicon-star-empty" ng-hide="isLogged"></i>
                                ({{producto.Leidos.length}}) 
                        
                             <input type="checkbox" ng-model="producto.selected" class="comparar pull-right" />
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
  


        <div class="footer-buttons">
            <div class="btn btn-primary btn-round btn-lg m-r-10 btn-footer" ng-show="(productos|filter:{selected: true}).length==2" data-toggle="modal" data-target="#comparar" ng-click="comparar()" data-title="Comparar " bs-tooltip>Comparar</div>
        </div>

           <div class="modal fade in" ng-hide="!verChat" id="verChat" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-cloack>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Chat</h3>
                    </div>

                    <div class="modal-body ">

                     

                            <div class="card">

                    
                         <div class="panel panel-default pre-scrollable" id="output">

                              <!-- Table -->
                            <table class="table">
                                 <thead> 
                                 
                                 <tbody>
                    
                                      <tr ng-repeat="item in chatMensajes"> 
                                    
                                           <td>de {{item.NombreUsuario}}...</td>
                                           <td>{{item.Mensaje}}</td>
                                          <td>{{item.FechaMensaje}}</td>
                                      </tr> 
                          


                                 </tbody> </table>
</div>
                            
                                    
                                </div>
                           
                        </div>

                  

                    <div class="modal-footer">
                  
                            <input type="text" ng-model="nuevoMensaje" ng-keypress="($event.charCode==13)?enviarMensaje(nuevoMensaje):return"/>    </div>
                </div>  </div>
            </div>
        </div>
    
    </div>

     <div class="col-md-10" ng-hide="!mostrarCarrito">
        <div class="col-md-10" id="carrito" ng-hide="!mostrarCarrito">


            <div class="alert alert-success" role="alert" ng-hide="carrito.length>0">No hay productos en el carrito!</div>

            <div class="col-md-4" ng-repeat="producto in carrito">

                <div class="card">

                    <img class="card-img-top" src="uploads/{{producto.FileName}}"  ng-show="producto.FileName" alt="100%x180" width ="180" height="200" >
                    <img class="card-img-top" src="/images/sin.jpg"  ng-hide="producto.FileName" alt="100%x180" width ="180" height="200" >

                    <!--<img class="card-img-top" src="/uploads/{{producto.FileName}}" onemptied="this.src='/images/sin.jpg';" alt="100%x180" width="180" height="200" data-holder-rendered="true">-->
                    <div class="card-block">
                        <h4 class="card-title">{{producto.Titulo}}</h4>
                        <p class="card-text">{{producto.Autor.Apellido}}, {{producto.Autor.Nombre}}</p>
                        <p class="card-text">Disponibilidad: {{producto.Disponibilidad}}</p>
                        <p class="card-text">Precio: {{producto.Precio}}</p>
                        <p class="card-text">Cantidad {{producto.cantidad}}</p>

                        <p class="card-text">
                            <small class="text-muted">
                                <a href="" class="glyphicon glyphicon-shopping-cart" ng-click="agregarCarrito(producto)" ng-hide="producto.Disponibilidad==0"></a>
                                <a href="" class="glyphicon glyphicon-remove" ng-click="quitarCarrito(producto)" ng-hide="producto.cantidad==0"></a>

                            </small>
                        </p>
                    </div>
                </div>
            </div>

            <!-- comprar form -->

        </div>

        <div class="col-md-2"  style="margin-top:5.0em"  ng-hide="!mostrarCarrito">
            
       <form id="comprarform" name="comprarform" " class="form-horizontal" role="form">
           <h3>Totalizador</h3>
           <p>El total de su operacion es: $ {{total}}</p>
           <div style="margin-bottom: 25px" class="input-group">
               <input id="Text1" type="text" class="form-control" name="calle" value="" placeholder="Calle" ng-model="calle" required>
           </div>
           <div style="margin-bottom: 25px" class="input-group">
               <input id="Text2" type="text" class="form-control" name="numero" value="" placeholder="Numero" ng-model="numero" required>
           </div>
           Tarjeta: 
           <select name="filter" id="filter" ng-model="Tarjeta"
               ng-options="option.NumeroTarjeta for option in tarjetas track by option.Id" required>
           </select>

           <button type="button" class="btn btn-success" ng-click="comprar()" ng-disabled="!comprarform.$valid">Comprar</button>

         
           <table class="table table-striped table-full table-full-small">
               <colgroup>
                   <col class="auto-cell-size">
               </colgroup>
               <thead>
                   <tr scroll-body="'#table-area-1'" scroll-stop="64">

                       <th></th>
                       <th></th>
                       <th class="text-right"></th>
                   </tr>
               </thead>
               <tbody>
                   <tr ng-repeat="(key, item) in notasdecredito" ng-click="item.selected=item.selected"">

                       <td> <input type="checkbox" class="relative" ng-model="item.selected" ng-click="editNC(item)" ng-disabled="deshabilitarNC"/></td>
                       <td>{{ item.Numero}}</td>
                       <td>{{ item.MontoADebitar}}</td>
                   </tr>
               </tbody>
           </table>
            <button type="button" class="btn btn-info" ng-click="toggleNC()" ng-disabled="!comprarform.$valid">Pagar con NC</button>
            
           <div ng-hide="!mostrarNC">
               <p>Monto NC: $ {{totalNC}}</p>
               <p>Monto Tarjeta: $ {{restoTarjeta}}</p>
               <p>suma nc {{sumNC}}</p>
           </div>
    
        </form>  

        </div>
         </div>

       <div class="col-md-2"  ng-hide="!mostrarCatalogo">


        <h1>Lo ultimo...
         </h1>
        <div style="padding: 20px" class="col-md-12" ng-repeat="producto in (productos | limitTo:5 | orderBy:'-FechaCreacion') ">

            <div class="col-md-12">

        <img class="card-img-top" src="uploads/{{producto.FileName}}"  ng-show="producto.FileName" alt="100%x180" style="height: 180px; width: 100%; display: block;" >
        <img class="card-img-top" src="/images/sin.jpg"  ng-hide="producto.FileName" alt="Novedad" alt="100%x180" style="height: 180px; width: 100%; display: block;" >
            <!--<img class="card-img-top" src="/uploads/{{producto.FileName}}"  onemptied="this.src='/images/sin.jpg';" alt="100%x180" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">-->
              </div>
            <div class="col-md-12">
                <div class="card-block">
                    <h4 class="card-title"><a href="" ng-click="seleccionarlibro(producto)">{{producto.Titulo}}</a></h4>
                    <p class="card-text">{{producto.Autor.Apellido}}, {{producto.Autor.Nombre}}</p>


                </div>
            </div>
        </div>

    </div>


    <div id="faqs" ng-hide="!mostrarFaq" class="container">

        <div class="panel-group" id="accordion">
            <div class="faqHeader">Preguntas Frecuentes</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">¿Cual es el costo de envio?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        Los envios son <strong>sin cargo</strong> para nuestros clientes. 
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">¿Cuales son los tiempos de entrega estimados?</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        Plazos de entrega:
                        <ul>
                        <li>Capital Federal: 2 días hábiles, a partir de la confirmación de la compra.</li>
                        <li>Pcia . de Buenos Aires: 3 días hábiles, a partir de la confirmación de la compra.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">¿Como compro un libro?</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Simplemente debes loguearte con tu usuario, o create uno si ya lo tienes.
                        <br />
                        Selecciona uno o más libros de tu agrado y selecciona el signo pesos para agregar a la compra.
                        <br />
                        Una vez finalizada la seleccion debes seleccionar el boton Comprar.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">¿Como veo mi historial de compra?</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                    Utilizando el menú de navegación ingresa en <strong>Backend</strong> > <strong>Mi Cuenta</strong> > <strong>Mis Pedidos</strong>.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">¿Como consulto mis Facturas, Notas de Credito, Recibos?</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                    Utilizando el menú de navegación ingresa en <strong>Backend</strong> > <strong>Mi Cuenta</strong> > <strong>Mis Facturas</strong>.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">¿Como me registro?</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        Registrarte es gratis y simple. Para registrarte haz clic en el menu <strong>Login</strong> > <strong>Registrarme</strong>.
                        Completa los datos necesarios. Recibiras un mail informando la creación de la cuenta.
                        Activa la cuenta desde el link que se encuentra dentro del mail de registración.
                        <strong>Listo! </strong>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">No recibi el e-mail de confirmacion ¿Que debo hacer?</a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                    Si no recibiste el e-mail de confirmación, comunícate a argenlibris@gmail.com, para que podamos ayudarte. En el título del e-mail escribe "Validación de cuenta" y tu apodo.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">¿Como actualizo mis datos?</a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body">
                    <strong>Es muy importante que mantengas actualizados tus datos de contacto.</strong>
                    <br />
                    Utilizando el menú de navegación ingresa en BackEnd y pincha en tu Nombre de Usuario. Una vez allí encontrarás toda tu información de registración y podrás modificar aquellos datos que desees cambiar.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNein">¿Cómo cambio mi clave o e-mail?</a>
                    </h4>
                </div>
                <div id="collapseNein" class="panel-collapse collapse">
                    <div class="panel-body">
                    Utilizando el menú de navegación ingresa en BackEnd y pincha en tu Nombre de Usuario. Allí podras cambiar la contraseña y tu email.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">¿Cómo recupero mi apodo o mi clave?</a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">
                    En caso que no recuerdes tu apodo y/o clave haz clic en <strong>Login</strong> > <strong>Olvidé mi contraseña</strong>
                        <br />
                    Una vez allí, ingresa el e-mail con el cual te registraste y te enviaremos inmediatamente tus datos para que puedas operar en Argenlibris.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">No recibi un pedido ¿Que puedo hacer?</a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">
                    Si no recibiste un pedido, comunícate a argenlibris@gmail.com, para que podamos ayudarte. En el título del e-mail escribe "Reclammo Pedido" y tu apodo.
                    </div>
                </div>
            </div>
    </div>
    </div>

    <div id="favoritos" ng-hide="!mostrarFavoritos">
  

           <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Favoritos</a></li>
  <li><a data-toggle="tab" href="#menu1">Leidos</a></li>

</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
   
     <div class="alert alert-success" role="alert" ng-hide="historico.Favoritos.length>0">No tiene libros favoritos!</div>
        <div class="col-md-3" ng-repeat="producto in historico.Favoritos">
    
        <div class="card">
        
        <img class="card-img-top" src="uploads/{{producto.FileName}}"  ng-show="producto.FileName" alt="100%x180" width ="180" height="200" >
        <img class="card-img-top" src="/images/sin.jpg"  ng-hide="producto.FileName" alt="100%x180" width ="180" height="200" >

        <!--<img class="card-img-top" src="/uploads/{{producto.FileName}}" onemptied="this.src='/images/sin.jpg';" alt="100%x180" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">-->
           <div class="card-block">
            <h4 class="card-title">{{producto.Titulo}}</h4>
            <p class="card-text">{{producto.Autor.Apellido}}, {{producto.Autor.Nombre}}</p>
            <p class="card-text">Disponibilidad: {{producto.Disponibilidad}}</p>
            <p class="card-text">Precio: {{producto.Precio}}</p>
            <p class="card-text"><small class="text-muted">
           
             <a href="" class="glyphicon glyphicon-heart" ng-click="quitarFavorito(producto)" ng-hide="!producto.favorito"></a>


                                 </small></p>
  </div>
</div>
    </div>
  </div>
  <div id="menu1" class="tab-pane fade">
   <div class="alert alert-success" role="alert" ng-hide="historico.Leidos.length>0">No tiene libros Leidos!</div>
        <div class="col-md-3" ng-repeat="producto in historico.Leidos">
    
        <div class="card">

        <img class="card-img-top" src="uploads/{{producto.FileName}}"  ng-show="producto.FileName" alt="100%x180" width ="180" height="200" >
        <img class="card-img-top" src="/images/sin.jpg"  ng-hide="producto.FileName" alt="100%x180" width ="180" height="200" >

<!--        <img class="card-img-top" src="/uploads/{{producto.FileName}}" onemptied="this.src='/images/sin.jpg';" alt="100%x180" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">-->
           <div class="card-block">
            <h4 class="card-title">{{producto.Titulo}}</h4>
            <p class="card-text">{{producto.Autor.Apellido}}, {{producto.Autor.Nombre}}</p>
            <p class="card-text">Disponibilidad: {{producto.Disponibilidad}}</p>
            <p class="card-text">Precio: {{producto.Precio}}</p>
            <p class="card-text"><small class="text-muted">
           
        


                                 </small></p>
  </div>
</div>
    </div>
  </div>
  
</div>


               

     

    </div>
    
    <div ng-hide="!mostrarLogin" id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">{{Ingresar}}</div>
                <!--<div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#ancla">{{OlvidePassword}}</a></div>-->
            </div>

            <div style="padding-top:30px" class="panel-body">

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form id="loginform" name="loginForm" class="form-horizontal" role="form">

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="nombre de usuario" ng-model="NombreUsuario" required>
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password" ng-model="PasswordNueva" required>
                    </div>



<!--                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input id="login-remember" type="checkbox" name="remember" value="1"> {{RecordarPassword}}
                            </label>
                        </div>
                    </div>-->
             

                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls">
                            <a id="btn-login" href="#" class="btn btn-success" ng-disabled="!loginForm.$valid" ng-click="login();">{{Ingresar}}</a>
                            <a id="btn-fblogin" href="#" class="btn btn-primary" ng-click="registrarse()">{{Registrarse}}</a>
                            <a id="btn-fblogin" href="#" class="btn btn-info" ng-click="recuperarse()">{{OlvideContrasenia}}</a>
                        </div>
                    </div>



                </form>



            </div>
        </div>
    </div>

           
    <div ng-controller="registroController">
        <div ng-hide="!registro" id="signupbox" style="margin-top: 50px; display: block;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="alert1 alert1-danger" role="alert1" ng-hide="!ErrorValidador">
                    {{error_validador}}
                </div>

                <div class="panel-heading">
                    <div class="panel-title">{{Registrarse}}</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" ng-click="esconderRegistro()">Ingresar</a></div>
                </div>

                <div class="alert alert-danger" role="alert" ng-hide="!errorRegistro">
                    <a href="#" class="alert-link">{{mensajeErrorRegistro}}</a>
                </div>

                <div class="panel-body">
                    <form id="signupform" name="myform" class="form-horizontal" role="form">

                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="email" class="form-control" name="email" placeholder="Email Address" ng-model="usuario.email" ng-blur="validarMail()" required>
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <label for="username" class="col-md-3 control-label">Nombre de Usuario</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="username" placeholder="User Name" ng-model="usuario.nombreusuario" ng-blur="validarUsuario()" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="firstname" class="col-md-3 control-label">Nombre</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="firstname" placeholder="First Name" ng-model="usuario.nombre" ng-blur="validarRegistro()"  required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="lastname" class="col-md-3 control-label">Apellido</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Last Name" ng-model="usuario.apellido" ng-blur="validarRegistro()" required>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="lastname" class="col-md-3 control-label">Direccion</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Calle" ng-model="usuario.calle" ng-blur="validarRegistro()"  required>
                            </div>
                           
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Numero" ng-model="usuario.numero" ng-blur="validarRegistro()"  ng-pattern="/^[0-9]+$/" required>
                          
                        </div> 
                            </div>
                        <div class="form-group">
                            <label for="birthday" class="col-md-3 control-label">Fecha Nacimiento</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Birth Date" id="fechanacimiento" ng-model="fechanacimiento" ng-change="validarEdad()" ng-blur="validarEdad()"/> 
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="passwd" placeholder="Password" ng-model="usuario.Password" required>
                            </div>
                        </div>
                     
                        <input type="checkbox" class="col-md-3 control-label" ng-model="cagegoriasi" name="" />Recibir Newsletter 
                        <div class="form-group" ng-hide="!cagegoriasi">
                            <div class="col-md-4" ng-repeat="categoria in categorias">
                                <input type="checkbox" ng-model="categoria.Eleccion" name="" />
                                {{categoria.Descripcion}}
                            </div>
                        </div>
                        <br />
                        <!-- Terminos y condiciones -->
                        <div class="form-group">
                            <div class="col-xs-6 col-xs-offset-3">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#termsModal" ng-click="verCondiciones()">Aceptar Terminos y Condiciones</button>
                            <input type="hidden" name="agree" value="yes" data-fv-field="agree"><i class="form-control-feedback fv-icon-no-label glyphicon glyphicon-ok" data-fv-icon-for="agree" style="display: block;"></i>
                              <p> {{error_condiciones}} </p>  <input type="hidden" name="agree" value="no" />
                                              
                            </div>

                        </div>
                
                          <!-- Detalle de los terminos y condiciones -->
                        <div class="modal fade in" ng-hide  ="!leerCondiciones" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="Terms and conditions" aria-hidden="false" style="display: block;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Terminos y condiciones</h3>
                                    </div>

                                    <div class="modal-body">
                                        <p>Estas Condiciones de Uso (en adelante Aviso Legal) están destinadas a los mayores de edad y menores debidamente autorizados y regulan el acceso y utilización de la página web www.argenlibris.com.ar (en adelante la "Web") que LA COMPAÑÍA pone a disposición de los usuarios de Internet. El acceso a la misma implica la aceptación sin reservas del presente Aviso Legal.</p>
                                        <br>
                                        <h4 class="modal-title">Datos de identificación</h4>
                                        <p>Usted está visitando la página web www.argenlibris.com.ar titularidad de Argenlibris S.A. (en adelante LA COMPAÑÍA).</p>
                                        <br>
                                        <h4 class="modal-title">Aceptación del Usuario</h4>
                                        <p>Estas Condiciones de Uso (en adelante Aviso Legal) regulan el acceso y utilización de la página web www.argenlibris.com.ar (en adelante la "Web") que LA COMPAÑÍA pone a disposición de los usuarios de Internet. El acceso a la misma implica la aceptación sin reservas del presente Aviso Legal.</p>
                                        <br>
                                        <h4 class="modal-title">Acceso a la página web y Contraseñas</h4>
                                        <p>Los datos de los Usuarios obtenidos a través de la suscripción o registro a la presente página web, están protegidos mediante contraseñas elegidas por ellos mismos. El Usuario se compromete a mantener su contraseña en secreto y a protegerla de usos no autorizados por terceros. El Usuario deberá notificar a LA COMPAñíA inmediatamente cualquier uso no consentido de su cuenta o cualquier violación de la seguridad relacionada con el servicio de la página web, de la que haya tenido conocimiento.
                                           LA COMPAñíA adopta las medidas técnicas y organizativas necesarias para garantizar la protección de los datos de carácter personal y evitar su alteración, pérdida, tratamiento y/o acceso no autorizado, habida cuenta del estado de la técnica, la naturaleza de los datos almacenados y los riesgos a que están expuestos, todo ello, conforme a lo establecido por la legislación española de Protección de Datos de Carácter Personal.
                                           LA COMPAñíA no se hace responsable frente a los Usuarios, por la revelación de sus datos personales a terceros que no sea debida a causas directamente imputables a LA COMPAñíA, ni por el uso que de tales datos hagan terceros ajenos a LA COMPAñíA.</p>
                                        <br>
                                        <h4 class="modal-title">Uso correcto de la página web</h4>
                                        <p>El Usuario se compromete a utilizar la página web, los contenidos y servicios de conformidad con la Ley, el presente Aviso Legal, las buenas costumbres y el orden público. Del mismo modo el Usuario se obliga a no utilizar la página web, sus contenidos o los servicios que se presten a través de ésta con fines o efectos ilícitos o contrarios al contenido del presente Aviso Legal, lesivos de los intereses o derechos de terceros, o que de cualquier forma pueda dañar, inutilizar, hacer inaccesibles o deteriorar la página web, sus contenidos o sus servicios o impedir un normal disfrute de la misma por otros Usuarios.
                                           Asimismo, el Usuario se compromete expresamente a no destruir, alterar, inutilizar o, de cualquier otra forma, dañar los datos, programas o documentos electrónicos que se encuentren en la Web.
                                           El Usuario se compromete a no obstaculizar el acceso de otros Usuarios al servicio de acceso mediante el consumo masivo de los recursos informáticos a través de los cuales LA COMPAñíA presta el servicio, así como realizar acciones que dañen, interrumpan o generen errores en dichos sistemas o servicios.</p>
                                        <br>
                                        <h4 class="modal-title">Publicidad</h4>
                                        <p>Parte del sitio web puede albergar contenidos publicitarios o estar patrocinado. Los anunciantes y patrocinadores son los únicos responsables de asegurarse de que el material remitido para su inclusión en el sitio web cumple las leyes que en cada caso puedan ser de aplicación.
                                           La Compañía no será responsable de cualquier error, inexactitud o irregularidad que puedan incluir los contenidos publicitarios o de los patrocinadores. En todo caso, para interponer cualquier reclamación relacionada con los contenidos publicitarios insertados en este sitio web, pueden dirigirse a la siguiente dirección de correo electrónico: protecciondedatos@argenlibris.com</p>
                                        <br>
                                        <h4 class="modal-title">Redes sociales</h4>
                                        <p>El usuario podrá unirse a los Grupos que Argenlibris tiene en distintas redes sociales, así como en su propia Comunidad virtual descrita en el apartado anterior, con la finalidad de compartir los libros que tengan en la biblioteca y ponerse en contacto con otros lectores miembros del Grupo.
                                           El usuario que se haga fan del Grupo Argenlibris, acepta las condiciones de uso y política de privacidad de la red social correspondiente.</p>
                                        <br>
                                        <h4 class="modal-title">Modificación de las condiciones de uso</h4>
                                        <p>La Compañía se reserva el derecho de desarrollar o actualizar en cualquier momento las condiciones de uso de la presente página web por lo que el usuario deberá leerlas periódicamente.</p>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="Button1" data-dismiss="modal" ng-click="Agree()">Agree</button>
                                        <button type="button" class="btn btn-default" id="Button2" data-dismiss="modal" ng-click="Desagree()">Disagree</button>
                                        <!--<button type="button" class="btn btn-default" id="Button2" data-dismiss="modal" ng-click="Desagree()">Disagree</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                         
                        
                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                
                                <button id="btn-signup" type="button" class="btn btn-info" ng-disabled="!myform.$valid || errorRegistro" ng-click="GuardarRegistro()"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                            
                            </div>

                        </div>

                        
                    </form>
                </div>

            </div>


        </div>

        
    </div>


    <div ng-controller="recuperoController">
        <div ng-hide="!recuperar" id="recuperobox" style="margin-top: 50px; display: block;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">

                <div class="panel-heading">
                    <div class="panel-title">{{Recuperar}}</div>
                    <div style="float: right; font-size: 85%; position: relative; top: -10px"><a id="signinlink" href="#" ng-click="esconderRecupero()">Volver</a></div>
                </div>

                <div class="panel-body">
                    <form id="registroform" name="registroform" class="form-horizontal" role="form">

                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="email" class="form-control" name="email" placeholder="Email Address" ng-model="usuario.email" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-signup" type="button" class="btn btn-info" ng-disabled="!registroform.$valid" ng-click="EnviarMail()"><i class="glyphicon glyphicon-floppy-disk"></i>Enviar</button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="alert1 alert1-danger" role="alert1" ng-hide="!isError">
        {{error_message}}
    </div>

    <div class="alert1 alert1-info alert1-dismissible" role="alert1" ng-hide="!isInfo">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{info_message}}
    </div>

<!--</div>-->

     

     
    <script charset="utf-8" src="login.js"></script>
    <script src="app/assets/signalr/signalr-service.js"></script>
    <script src="app/assets/js/services/ventas/representantes-service.js"></script>
      <script src="app/assets/js/services/chat-service.js"></script>

</body>


     <script >
         var QueryString = function () {
             // This function is anonymous, is executed immediately and 
             // the return value is assigned to QueryString!
             var query_string = {};
             var query = window.location.search.substring(1);
             var vars = query.split("&");
             for (var i = 0; i < vars.length; i++) {
                 var pair = vars[i].split("=");
                 // If first entry with this name
                 if (typeof query_string[pair[0]] === "undefined") {
                     query_string[pair[0]] = decodeURIComponent(pair[1]);
                     // If second entry with this name
                 } else if (typeof query_string[pair[0]] === "string") {
                     var arr = [query_string[pair[0]], decodeURIComponent(pair[1])];
                     query_string[pair[0]] = arr;
                     // If third or later entry with this name
                 } else {
                     query_string[pair[0]].push(decodeURIComponent(pair[1]));
                 }
             }
             return query_string;
         }();

    </script>

         <div class="modal fade" id="seleccionarLibroModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{libroSeleccionado.Titulo}}</h4>
      </div>
      <div class="modal-body">
          <div class="col-md-6">
          <img class="card-img-top" src="/uploads/{{libroSeleccionado.FileName}}" onemptied="this.src='/images/sin.jpg';"  style="height: 180px; width: 100%; display: block;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzE4IiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDMxOCAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTUwYzExMWRiYTIgdGV4dCB7IGZpbGw6cmdiYSgyNTUsMjU1LDI1NSwuNzUpO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LWZhbWlseTpIZWx2ZXRpY2EsIG1vbm9zcGFjZTtmb250LXNpemU6MTZwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTUwYzExMWRiYTIiPjxyZWN0IHdpZHRoPSIzMTgiIGhlaWdodD0iMTgwIiBmaWxsPSIjNzc3Ii8+PGc+PHRleHQgeD0iMTE4LjA4NTkzNzUiIHk9Ijk3LjIiPjMxOHgxODA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" data-holder-rendered="true">
     </div>
                <p>{{libroSeleccionado.Autor.Apellido}}, {{libroSeleccionado.Autor.Nombre}}</p>
           <div class="votar" ng-hide="!PuedePuntuar">
            <a href="" class="glyphicon glyphicon-star-empty" ng-click="votar(1)"></a>
           <a href="" class="glyphicon glyphicon-star-empty" ng-click="votar(2)"></a>
           <a href="" class="glyphicon glyphicon-star-empty" ng-click="votar(3)"></a>
           <a href="" class="glyphicon glyphicon-star-empty" ng-click="votar(4)"></a>
           <a href="" class="glyphicon glyphicon-star-empty" ng-click="votar(5)"></a>
               </div>
          <div ng-hide="estaPuntuacion.length==0">{{media}} de {{estaPuntuacion.length}} votos</div>
           <br>

           <textarea class="form-control vertical ng-valid ng-touched" rows="3" ng-model="MiComentario"></textarea>
          <button type="button" class="btn btn-success" ng-click="comentar()" ng-disabled="!PuedeComentar || !MiComentario">Comentar</button>
           <br>
      </div><div class="row text-center"  ng-repeat="x in comentarios">
                    
                  "{{x.Comentario}}", de {{x.Nombre}}
               </div>
      <div class="modal-footer">
          
           
               
        
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
    </div>
  </div>
</div> 
             </div>

        <div class="modal fade in" ng-hide="!verComparacion" id="comparar" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Comparación de productos</h3>
                    </div>

                    <div class="modal-body">

                        <div class="col-md-6" ng-repeat="producto in (productos|filter:{selected: true})">

                            <div class="card">

                                <img class="card-img-top" src="/uploads/{{producto.FileName}}" onemptied="this.src='/images/sin.jpg';" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzE4IiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDMxOCAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTUwYzExMWRiYTIgdGV4dCB7IGZpbGw6cmdiYSgyNTUsMjU1LDI1NSwuNzUpO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LWZhbWlseTpIZWx2ZXRpY2EsIG1vbm9zcGFjZTtmb250LXNpemU6MTZwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTUwYzExMWRiYTIiPjxyZWN0IHdpZHRoPSIzMTgiIGhlaWdodD0iMTgwIiBmaWxsPSIjNzc3Ii8+PGc+PHRleHQgeD0iMTE4LjA4NTkzNzUiIHk9Ijk3LjIiPjMxOHgxODA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" data-holder-rendered="true">
                                <div class="card-block">
                                    <h4 class="card-title"><a href="" ng-click="seleccionarlibro(producto)">{{producto.Titulo}}</a></h4>
                                    <p class="card-text">{{producto.Autor.Apellido}}, {{producto.Autor.Nombre}}</p>
                                    <p class="card-text">Disponibilidad: {{producto.Disponibilidad}}</p>
                                    <p class="card-text">Precio: {{producto.Precio}}</p>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            <a href="" class="glyphicon glyphicon-shopping-cart" ng-click="agregarCarrito(producto)" ng-hide="producto.Disponibilidad==0 || !isLogged"></a>

                                            <a href="" class="glyphicon glyphicon-heart-empty" ng-click="agregarFavorito(producto)" ng-hide="(producto.Favoritos|filter:{ClienteId:user.Id}).length==1 || !isLogged"></a>
                                            <i class="glyphicon glyphicon-heart-empty" ng-hide="isLogged"></i>

                                            <i class="glyphicon glyphicon-heart" ng-show="(producto.Favoritos|filter:{ClienteId:user.Id}).length==1"></i>
                                            ({{producto.Favoritos.length}})
                        
                        
                        <a href="" class="glyphicon glyphicon-star-empty" ng-click="agregarLeido(producto)" ng-hide="(producto.Leidos|filter:{ClienteId:user.Id}).length==1 || !isLogged"></a>
                                            <i class="glyphicon glyphicon-star" ng-show="(producto.Leidos|filter:{ClienteId:user.Id}).length==1"></i>
                                            <i class="glyphicon glyphicon-star-empty" ng-hide="isLogged"></i>
                                            ({{producto.Leidos.length}}) 
                        
                            
                                        </small>
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-default" id="Button2" data-dismiss="modal" ng-click="Desagree()">Disagree</button>-->
                    </div>
                </div>
            </div>
        </div>
</html>
