﻿<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">Encuesta</h4>
            </div>
            <div class="modal-body">

                <h4>Titulo </h4>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="$hide()">Save changes</button>-->
            </div>
        </div>
    </div>
</div>
