﻿<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>

    </div>
    <div class="aside-dialog">

        <div class="aside-body bs-sidebar">
            <form class="form-floating" name="myForm" ng-submit="saveItem(item)">
                <fieldset>
                    <legend>{{traductor[44]}}</legend>
                    <div class="form-group filled">
                        <label class="control-label">{{traductor[25]}}</label>
                        <input type="text" class="form-control" ng-model="item.Descripcion" ng-disabled="!item.editing" ng-pattern="/^[a-zA-Z]{1,255}$/" required>
                    </div>
                    
                    <div class="form-group">
                        <button type="button" class="btn btn-lg btn-primary" ng-disabled="!myForm.$valid" ng-hide="!item.editing" ng-click="editorialPut()">{{traductor[17]}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>