﻿<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>

    </div>
    <div class="aside-dialog">

        <div class="aside-body bs-sidebar">
            <form class="form-floating" name="myForm" ng-submit="saveItem(item)">
                <fieldset>
                    <legend>{{traductor[53]}}</legend>
                    <!--<img src="../../../../images/sin.jpg" />-->
                    
                    <img class="card-img-top" src="../../../../uploads/{{item.FileName}}" ng-show="item.FileName"   alt="" width="200" height="200" data-holder-rendered="true">

                     <div class="form-group filled">
                        <label class="control-label">{{traductor[57]}}</label>
                        <input type="text" class="form-control" ng-model="item.Titulo" ng-disabled="!item.editing" ng-pattern="/^[a-zA-Z_ ]{1,255}$/" required>
                    </div>

                    <div class="form-group filled">
                        <label class="control-label">ISBN</label>
                        <input type="text" class="form-control" ng-model="item.ISBN" ng-disabled="!item.editing" ng-pattern="/^[0-9]{13}$/" required>
                    </div>

                   <div class="form-group filled">
                        <!--Autor-->
                        <label class="control-label">{{traductor[86]}}</label>
                          <select name="filter" id="Select3" ng-model="item.Categoria" 
                           ng-options="option.Descripcion for option in categorias track by option.Id" 
                           ng-change="" ng-disabled="!item.editing"></select>
                    </div>

                    <div class="form-group filled">
                        <!--Autor-->
                        <label class="control-label">{{traductor[56]}}</label>
                          <select name="filter" id="Select2" ng-model="item.Formato" 
                           ng-options="key as val for (key, val) in options" 
                           ng-change="" ng-disabled="!item.editing"></select>
                    </div>
                    
                    <div class="form-group filled">
                        <!--Autor-->
                        <label class="control-label">{{traductor[50]}}</label>
                          <select name="filter" id="Select1" ng-model="item.Autor" 
                           ng-options="option.Apellido for option in autores track by option.Id" 
                           ng-change="" ng-disabled="!item.editing"></select>

                    </div>

                    <div class="form-group filled">
                        <!--Editorial-->
                        <label class="control-label">{{traductor[44]}}</label>
                          <select name="filter" id="filter" ng-model="item.Editorial" 
                           ng-options="option.Descripcion for option in editoriales track by option.Id" 
                           ng-change="" ng-disabled="!item.editing"></select>

                    </div>

                     <div class="form-group filled">
                            <input type="file" file-model="item.image" required >
                        </div>

                     <div class="form-group filled">
                        <label class="control-label">{{traductor[58]}}</label>
                         <textarea class="form-control vertical ng-valid ng-touched" rows="3" ng-model="item.Sinopsis" ng-disabled="!item.editing" ng-pattern="/^[a-zA-Z_ ñáéíóú.,]{1,255}$/"></textarea>
  
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-lg btn-primary" ng-disabled="!myForm.$valid" ng-hide="!item.editing" ng-click="libroPut()">{{traductor[17]}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>