﻿<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>

    </div>
    <div class="aside-dialog">

        <div class="aside-body bs-sidebar">
            <form class="form-floating" name="myForm" ng-submit="saveItem(item)">
                <fieldset>
                    <legend>{{traductor[50]}}</legend>

                    <div class="form-group filled">
                        <label class="control-label">{{traductor[12]}}</label> 
                        <input type="text" class="form-control" ng-model="item.Nombre" ng-disabled="!item.editing" required ng-pattern="/^[a-zA-Z_ ]{1,255}$/">
                    </div>

                    <div class="form-group filled">
                        <label class="control-label">{{traductor[11]}}</label> 
                        <input type="text" class="form-control" ng-model="item.Apellido" ng-disabled="!item.editing" required ng-pattern="/^[a-zA-Z_ ]{1,255}$/">
                    </div>

                    <div class="form-group filled">
                        <!--Pais-->
                        <label class="control-label">{{traductor[47]}}</label>
                          <select name="filter" id="filter" ng-model="item.PaisDeOrigen" 
                           ng-options="option.Descripcion for option in paises track by option.Id" 
                           ng-change="cambiarPais(Pais)" ng-disabled="!item.editing"></select>

                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-lg btn-primary" ng-disabled="!myForm.$valid" ng-hide="!item.editing" ng-click="autorPut()">{{traductor[17]}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>