﻿<section>
    <div class="page-header">
        <div class="actions">
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-info-outline"></span></button>
            <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-search"></span></button>
        </div>
        <h1>
            <i class="md md-person"></i>
            {{traductor[52]}}
        </h1>
        <p class="lead">
            {{traductor[62]}}

        </p>
    </div>
</section>
<div ng-controller="GestionLibrosController">

    <div class="table-responsive well no-padding white no-margin">
<!--        <h3 class="table-title">{{traductor[54]}}</h3>-->
        <div class="row">
            <div class="col-md-3 col-md-offset-1">

                <input type="text" class="form-control" placeholder="Buscar" ng-model="searchText">

            </div>
            <div class="col-md-3 ">
                {{traductor[50]}}
            <select name="mySelect" id="mySelect"
                ng-options="option.Apellido for option in autores track by option.Id"
                ng-model="autor" ng-change="loadData(autor.Id)">
            </select>
            </div>
        </div>


        <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
            <thead>
                <tr fsm-sticky-header scroll-body="'#table-area-1'" scroll-stop="64">
<!--                    <th><input type="checkbox" class="relative" ng-model="selectAll" ng-click="checkAll()" /></th>-->
                    <!--<th>Icon</th>-->
                    <th fsm-sort="titulo">{{traductor[57]}}</th>
                    <th fsm-sort="isbn">ISBN</th>
                    <th fsm-sort="formato">{{traductor[56]}}</th>
                    <th fsm-sort="autor">{{traductor[50]}}</th>
                    <th fsm-sort="editorial">{{traductor[44]}}</th>
                    <th fsm-sort="disponibilidad">{{traductor[63]}}</th>
                    <th fsm-sort="costo">costo</th>
                    <th fsm-sort="precio">{{traductor[64]}}</th>

                    <th class="text-right">{{traductor[26]}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, item) in data | filter:searchText" ng-click="item.selected=!item.selected" ng-dblclick="editItem(item)">
                    <!--<td><input type="checkbox" class="relative" ng-model="item.selected" ng-click="$event.stopPropagation()" /></td>-->
                    <!--<td ng-bind-html="item.icon" class="f20"></td>-->
                    <td>{{ item.Titulo}}</td>
                    <td>{{ item.ISBN }}</td>
                    <td>{{ item.Formato}}</td>
                    <td>{{ item.Autor.Apellido}}</td>
                    <td>{{ item.Editorial.Descripcion}}</td>
                    <td><input type="text" ng-model="item.Disponibilidad" /></td>
                    <td><input type="text" ng-model="item.Costo" /></td>
                    <td><input type="text" ng-model="item.Precio" /></td>

                  
                    <td class="text-right" ng-click="$event.stopPropagation()">
                        <button type="button" class="btn btn-link btn-round" data-title="Send" ng-click="sendItem(item)" ng-disabled="item.Enviado"><i class="glyphicon glyphicon-send"></i></button>
                        <button type="button" class="btn btn-link btn-round" data-title="guardar" ng-click="guardarCambios(item)"><i class="md md-save"></i></button>
                        <button type="button" class="btn btn-link btn-round" data-title="Edit" ng-click="editItem(item)"><i class="md md-edit"></i></button>
                        <button type="button" class="btn btn-link btn-round" data-title="Ver" ng-click="viewItem(item)"><i class="md md-search"></i></button>
                        <!--<button type="button" class="btn btn-link btn-round" data-title="Borrar" ng-click="remove(item)"><i class="md md-delete"></i></button>-->
                       </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="footer-buttons">
        <!--<div class="btn btn-primary btn-round btn-lg m-r-10 btn-footer" ng-show="(data|filter:{selected: true}).length" ng-click="remove()" data-title="Remove {{(data|filter:{selected: true}).length}} item(s)" bs-tooltip><i class="md md-delete"></i></div>-->
        <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="Scroll to top" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
        <div class="btn btn-primary btn-round btn-lg" ng-click="createItem()" data-title="{{traductor[27]}}" bs-tooltip><i class="md md-add"></i></div>
<!--        <div class="btn btn-primary btn-round btn-lg" ng-click="guardarCambios()" data-title="{{traductor[17]}}" bs-tooltip><i class="md md-save  "></i></div>-->
    </div>
</div>