﻿<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>

    </div>
    <div class="aside-dialog">

        <div class="aside-body bs-sidebar">
    
            
                

                    
                         <div class="panel panel-default pre-scrollable" id="output">

                              <!-- Table -->
                            <table class="table">
                                 <thead> 
                                 
                                 <tbody>
                    
                                      <tr ng-repeat="item in chatMensajes"> 
                                    
                                           <td>de {{item.NombreUsuario}}...</td>
                                           <td>{{item.Mensaje}}</td>
                                          <td>{{item.FechaMensaje}}</td>
                                      </tr> 
                          


                                 </tbody> </table>
</div>
                            
                                    
                             
                             <div class="modal-footer">
                  
                            <input type="text" ng-model="nuevoMensaje" ng-keypress="($event.charCode==13)?enviarMensaje(nuevoMensaje):return"/>    </div>
                       
              
           
     
    
</div>
  </div>
      