﻿<div class="card-content p-10">
    <div class="case-footer">
        <a id="link-1" href=""  data-template="assets/tpl/partials/politicas-modal.html" bs-modal data-toggle="dropdown">{{traductor[41]}}</a> 

    </div>
</div>
