﻿<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Politicas de Seguridad</h4>
      </div>
      <div class="modal-body">
            
 <h4>1 . TITULAR Y RESPONSABLE DE LA PÁGINA WEB:www.Argenlibris.es. </h4>
Argenlibris, S.A. (ARGENLIBRIS) 
Dirección: Av. Directorio 1225  
              1426 Argentina
Teléfono: 93.394.35.00 - Fax: 93.218.32.50 
Correo electrónico: argenlibris@gmail.es.
Datos Registrales: inscrita en el Registro Mercantil de Barcelona, Tomo 24.281, Folio 95, Hoja núm. B-67.261, Inscripción 1ª. C.I.F.: A-60.109.188.
 
 <h4>2. PROTECCIÓN DE DATOS DE CARÁCTER PERSONAL. </h4>
En virtud de lo dispuesto en la Ley Orgánica 15/1999 de 13  de Diciembre, de Protección de datos de carácter personal, ARGENLIBRIS le comunica que:
1.	Los datos personales facilitados por Usted a través del Sitio Web titularidad de ARGENLIBRIS, (www.argenlibris.com.ar) (en adelante, la Web o el Sitio Web), o mediante la remisión de un correo electrónico, se incorporarán a los ficheros titularidad de las siguientes sociedades: Residencias de Estudiantes, S.A., SiArgenlibris Campus S.I.I., S.A., Encampus, Residencias de Estudiantes, S.A., SiArgenlibris Hernán-Cortés, S.A., SiArgenlibris Salmantina, S.A. y Sociedad Inversora en Residencias para estudiantes Euskadi, S.A. (en adelante, las “Sociedades Titulares”), de acuerdo con el servicio solicitado o contratado. La finalidad del tratamiento de los datos facilitados es la gestión de la relación con Usted y, en su caso, llevar a cabo una correcta gestión de los servicios prestados a través del Sitio Web.
 <br/>
1.	Igualmente, las Sociedades tratarán los datos para gestionar las consultas que reciba de clientes y/o usuarios y para realizar envíos publicitarios y de información comercial, por diferentes medios, a los mismos acerca de la empresas, sus actividades, productos, servicios, ofertas, promociones especiales, así como documentación de diversa naturaleza y por diferentes medios de información comercial de la empresas, pudiendo realizar valoraciones automáticas, obtención de perfiles y labores de segmentación de sus clientes, en base a la información de que disponga relativa a los mismos, al objeto de personalizar el trato conforme a sus características y/o necesidades.
 
1.	Asimismo, le informamos, y mediante la aceptación de la presente Política de Privacidad Usted consiente, que sus datos personales sean comunicados, en su caso, a las empresas gestionadas por Grupo Azora que pertenezcan a los sectores inmobiliario/de alojamiento, a los efectos de realizarle encuestas de opinión y realizar el envío de información de sus productos y servicios exclusivamente relacionados con el sector de actividad mencionado, a través de diferentes medios, incluidos electrónicos.
 
1.	Usted garantiza que los datos aportados son verdaderos, exactos, completos y actualizados, siendo responsable de cualquier daño o perjuicio, directo o indirecto, que pudiera ocasionarse como consecuencia del incumplimiento de tal obligación. En el caso de que los datos aportados pertenecieran a un tercero, Usted garantiza que ha informado a dicho tercero de los aspectos contenidos en esta Política y obtenido su autorización para facilitar sus datos a las Sociedades Titulares para los fines señalados.
 
1.	Cuando los datos personales sean recabados a través del formulario, será necesario que Usted aporte, al menos, aquellos marcados con un asterisco, ya que, si no se suministraran estos datos considerados necesarios, las Sociedades Titulares no podrán aceptar y gestionar el servicio web o consulta formulada.
 
1.	Para manifestar su negativa en los términos establecidos anteriormente y para el ejercicio de los derechos de acceso, rectificación, cancelación u oposición deberá remitirse un escrito identificado con la referencia “Protección de Datos”, en el que se concrete la solicitud correspondiente y aportando fotocopia del Documento Nacional de Identidad del inteArgenlibrisdo, a la siguiente dirección: Calle Serrano, 30, 2º Dcha., 28001, Madrid o mediante la dirección de correo electrónico rslopd@azora.es
 
1.	De conformidad con lo establecido en la Ley 34/2002 de 11 de Julio, de Servicios de la Sociedad de la Información y del Comercio electrónico, en el supuesto de que Ud. no desee recibir comunicaciones comerciales electrónicas en un futuro, por parte de ARGENLIBRIS, podrá manifestar su deseo enviando un e-mail a la siguiente dirección de correo electrónico:  rslopd@azora.es
 
3. CAMBIOS EN LA POLÍTICA DE PRIVACIDAD.
En caso de que ARGENLIBRIS modifique la presente Política de Privacidad deberá respetar la legislación vigente y concretamente la de Protección de Datos de Carácter Personal, y publicará una notificación en el Sitio Web para que los Usuarios puedan tener conocimiento de cualquier cambio en el tipo de datos que se recogen y/o de las finalidades del tratamiento y/o de las cesiones a terceros. En ningún caso, cualesquiera de las modificaciones de la presente Política de privacidad afectarán, por sí mismas, a la elección que los usuarios hayan formulado en lo que respecta al modo en que ARGENLIBRIS puede utilizar sus Datos Personales. Si en cualquier momento ARGENLIBRIS decidiese utilizar los Datos Personales de los Usuarios de forma distinta a la establecida en el momento de su recogida, lo notificará a los Usuarios por correo electrónico solicitando su consentimiento al respecto.

      
      </div>
      <div class="modal-footer">
       <!-- <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="$hide()">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
