<aside class="sidebar fixed">
    <div id="logo-uai-main">
        <a href="/"><img src="/app/assets/img/argenlibris 200 x 200.png" /></a>
    </div>
    
    <div id="logo">
        
          
    </div>
    
  
  <div class="user-logged-in">
      
      <div class="content">
      <div class="user-name">{{user.NombreUsuario}} <span class="text-muted f9">{{user.Rol}}</span></div>
      <div class="user-email">{{user.Email}}</div>
      <div class="user-actions">
           <a href="/" >  Frontend</a> <!--salir-->
        <a class="m-r-5" href="#/usuario/perfil">{{traductor[0]}}</a> <!--perfil-->
           
        <a href="" ng-click="logout()">{{traductor[1]}}</a> <!--salir-->

         
          
      </div>
    </div>
  </div>
  <ul class="menu-links" ng-cloak>

    <a menu-link href="#/dashboard" icon="md md-blur-on">{{traductor[2]}}</a>
     
      
      <li menu-toggle path="/seguridad" name="{{traductor[3]}}" icon="glyphicon glyphicon-wrench" ng-show="(mispermisos | filter:Permiso='UsuarioPuedeGestionar').length>=1">
          <a menu-link href="#/seguridad/gestion-idiomas" name="Gestion de idiomas" ng-click='pushSomething()'>
              <span id="idiomas" class="pull-right badge z-depth-0"></span>
              {{traductor[4]}}
          </a>
          <a menu-link href="#/seguridad/gestion-traducciones" name="Gestion de traducciones">
              <span id="Span1" class="pull-right badge z-depth-0"></span>
              {{traductor[5]}}
          </a>
          <a menu-link href="#/seguridad/gestion-bitacora" name="Gestion de Bitacora">
              <span id="bitacora" class="pull-right badge z-depth-0"></span>
              {{traductor[6]}}
          </a>
          <a menu-link href="#/seguridad/gestion-roles" name="Gestion de Roles">
              <span id="Span9" class="pull-right badge z-depth-0"></span>
              {{traductor[130]}}
          </a>
          <a menu-link href="#/seguridad/gestion-usuarios" name="Gestion de Usuarios">
              <span id="Span20" class="pull-right badge z-depth-0"></span>
             {{traductor[125]}}
          </a>
          <a menu-link href="#/seguridad/gestion-backup" name="Gestion de Backups">
              <span id="Span21" class="pull-right badge z-depth-0"></span>
            Gestion de Backups
          </a>

      </li>
      
      <li menu-toggle path="/productos" name="{{traductor[42]}}" icon="glyphicon glyphicon-book" ng-show="(mispermisos | filter:Permiso='ProductosPuedeGestionar').length>=1">
          <a menu-link href="#/productos/gestion-editoriales" name="Gestion de editoriales">
              <span id="Span2" class="pull-right badge z-depth-0"></span>
              {{traductor[43]}}
          </a>
          <a menu-link href="#/productos/gestion-paises" name="Gestion de pais">
              <span id="Span3" class="pull-right badge z-depth-0"></span>
              {{traductor[46]}}
          </a>
          <a menu-link href="#/productos/gestion-autores" name="Gestion de autores">
              <span id="Span4" class="pull-right badge z-depth-0"></span>
              {{traductor[49]}}
          </a>
          <a menu-link href="#/productos/gestion-categorias" name="Gestion de categorias">
              <span id="Span13" class="pull-right badge z-depth-0"></span>
              {{traductor[85]}}
          </a>
          <a menu-link href="#/productos/gestion-libros" name="Gestion de libros">
              <span id="Span5" class="pull-right badge z-depth-0"></span>
              {{traductor[52]}}
          </a>
      </li>

      <li menu-toggle path="/marketing" name="Marketing" icon="glyphicon glyphicon-bullhorn" ng-show="(mispermisos | filter:Permiso='MarketingPuedeGestionar').length>=1">

          <a menu-link href="#/marketing/gestion-fichaopinion" name="Ficha">
              <span id="Span17" class="pull-right badge z-depth-0"></span>
              {{traductor[115]}}
          </a>

          <a menu-link href="#/marketing/gestion-encuestas" name="Encuestas">
              <span id="Span11" class="pull-right badge z-depth-0"></span>
              {{traductor[79]}}
          </a>

          <a menu-link href="#/marketing/gestion-newsletter" name="Newsletter">
              <span id="Span18" class="pull-right badge z-depth-0"></span>
              {{traductor[112]}}
          </a>

          <a menu-link href="#/marketing/gestion-novedades" name="Novedades">
              <span id="Span22" class="pull-right badge z-depth-0"></span>
              {{traductor[131]}}
          </a>

      </li>

      <li menu-toggle path="/almacenes" name="{{traductor[70]}}" icon="glyphicon glyphicon-inbox" ng-show="(mispermisos | filter:Permiso='AlmacenesPuedeGestionar').length>=1"> 
          <a menu-link href="#/almacenes/gestion-pedidos" name="Pedidos">
              <span id="Span7" class="pull-right badge z-depth-0"></span>
              {{traductor[113]}}
          </a>
          <a menu-link href="#/almacenes/gestion-remitos" name="Remitos">
              <span id="Span8" class="pull-right badge z-depth-0"></span>
              {{traductor[114]}}
          </a>
      </li>




      <li menu-toggle path="/ventas" name="{{traductor[94]}}" icon="md-attach-money" ng-show="(mispermisos | filter:Permiso='VentasPuedeGestionar').length>=1">
          <a menu-link href="#/ventas/gestion-representantes" name="Representantes">
              <span id="Span19" class="pull-right badge z-depth-0"></span>
              {{traductor[119]}}
          </a>
          <a menu-link href="#/ventas/gestion-reclamos" name="ventas">
              <span id="Span14" class="pull-right badge z-depth-0"></span>
              {{traductor[90]}}
          </a>
          <a menu-link href="#/ventas/gestion-todasfacturas" name="Facturas">
              <span id="Span23" class="pull-right badge z-depth-0"></span>
              Facturas
          </a>
          <a menu-link href="#/ventas/informe-ventas" name="Reporte de Ventas">
              <span id="Span16" class="pull-right badge z-depth-0"></span>
              Reporte de Ventas
          </a>
          <a menu-link href="#/ventas/reporte-ganancias" name="Reporte de Ganancias">
              <span id="Span12" class="pull-right badge z-depth-0"></span>
              Reporte de Ganancias
          </a>

<!--         <a menu-link href="#/ventas/ventas" name="ventas">
              <span id="Span12" class="pull-right badge z-depth-0"></span>
              {{traductor[123]}}
          </a>

          <a href="#" ng-click="enviarMensaje()">Enviar</a>-->

      </li>
      
      <li menu-toggle path="/micuenta" name="{{traductor[65]}}" icon="glyphicon glyphicon-user" >
          <a menu-link href="#/micuenta/gestion-pedidos" name="Mis Pedidos">
              <span id="Span6" class="pull-right badge z-depth-0"></span>
              {{traductor[66]}}
          </a>
          <a menu-link href="#/micuenta/gestion-facturas" name="Facturas">
              <span id="Span10" class="pull-right badge z-depth-0"></span>
              {{traductor[75]}}
          </a>
          <a menu-link href="#/micuenta/gestion-micuentacorriente" name="CuentaCorriente" >
              <span id="Span15" class="pull-right badge z-depth-0"></span>
              {{traductor[95]}}
          </a>
      </li>

      <!--<li menu-toggle path="/proyectos" name="Proyectos" icon="md md-work">
          
          <a menu-link href="#/proyectos/gestion-proyectos" name="Proyectos">
              <span  id="proyectsCount" class=" pull-right badge z-depth-0 red"  ng-bind="proyectsCount" name="Gestion de proyectos"></span>
              Gestion
          </a>
          <a menu-link href="#/proyectos/todo"  name="Todo">
              <span id="todosCount" class="pull-right badge z-depth-0 red"  ng-bind="todosCount"></span>
              Todo
          </a>  
      </li>-->


    
<!--<li menu-toggle path="/apps" name="APPS" icon="md md-camera">
      
      <a menu-link href="#/apps/crud" name="Crud">
        <span class="pull-right badge theme-primary-bg z-depth-0">9</span>
        Crud
      </a>
    </li>-->
    <!--<li menu-toggle path="/ui-elements" name="UI elements" icon="md md-photo">
      <a menu-link href="#/ui-elements/cards">Cards</a>
      <a menu-link href="#/ui-elements/colors">Color</a>
      <a menu-link href="#/ui-elements/grid">Grid</a>
      <a menu-link href="#/ui-elements/icons">Icons material design</a>
      <a menu-link href="#/ui-elements/weather-icons">Icons weather</a>
      <a menu-link href="#/ui-elements/lists">Lists</a>
      <a menu-link href="#/ui-elements/typography">Typography</a>
      <a menu-link href="#/ui-elements/messages">Messages &amp; Notifications</a>
      <a menu-link href="#/ui-elements/buttons">Buttons</a>
    </li>
    <li menu-toggle path="/forms" name="Forms" icon="md md-input">
      <a menu-link href="#/forms/basic">Basic forms</a>
      <a menu-link href="#/forms/advanced">Advanced elements</a>
      <a menu-link href="#/forms/validation">Validation</a>
    </li>
    <li menu-toggle path="/tables" name="Tables" icon="md md-list">
      <a menu-link href="#/tables/basic">Basic tables</a>
      <a menu-link href="#/tables/data">Data tables</a>
    </li>
    <li menu-toggle path="/maps" name="Maps" icon="md md-place">
      <a menu-link href="#/maps/full-map">Full map</a>
      <a menu-link href="#/maps/map-widgets">Map widgets</a>
      <a menu-link href="#/maps/vector-map">Vector map</a>
    </li>
    <a menu-link href="#/charts" icon="md md-insert-chart">Charts</a>
    <li menu-toggle path="/pages" name="Extra pages" icon="md md-favorite-outline">
      <a target="_blank" href="pages/login.html">Login</a>
      <a target="_blank" href="pages/404.html">404</a>
      <a target="_blank" href="pages/500.html">500</a>
      <a target="_blank" href="pages/material-bird.html">Easter Egg</a>
    </li>-->
  </ul>
    <div class="footer-buttons-explorer" ng-hide="selectedProyect==undefined">
        <div class="btn btn-primary btn-round btn-lg" ng-click="showExplorer()" data-title="Explorador de proyecto" bs-tooltip><i class="md md-work"></i></div>
    </div>

</aside>
