﻿#logo-uai {
    float:right;
}

#logo-uai-main {
    
    width:100%;
    position:relative;
    padding-top: 20px;
    
}
#logo-uai-main img {
    
   display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.brand-logo-uai 
{
    text-align:right;

}

.argenlibris-title{
    float:left;
}

.case-footer
{
    text-align:center;

}

.footer-buttons-explorer {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.footer-buttons-explorer .btn-footer {
  -webkit-animation: moveFromBottomFade 0.3s ease both;
  -o-animation: moveFromBottomFade 0.3s ease both;
  animation: moveFromBottomFade 0.3s ease both;
  position: relative !important;
  display: inline-block !important;
}
.footer-buttons-explorer .btn-footer.ng-hide {
  -webkit-animation: moveToBottomFade 0.3s ease both;
  -o-animation: moveToBottomFade 0.3s ease both;
  animation: moveToBottomFade 0.3s ease both;
}


#paper-holder-groups {
   
    width:100%;
   height: 100%;
   position: relative;
}
#stencil-holder-groups .stencil {
   width: 200px;
   height: 300px;
   position: absolute;
}
#stencil-holder-groups .stencil .group-label {
   padding: 0;
}
#stencil-holder-groups .stencil .group .elements {
   margin-left: -10px;
   background: transparent;
}


#inspector-holder-create {
   position: absolute;
   top: 0;
   right: 5px;
   /*left: 401px;*/
   bottom: 0;
   width: 240px;
   height:600px;
   background-color: #333;
   color: #bcbcbc;
   padding-right:30px;
}

#inspector-holder-create .group-label {
   padding: 0 5px;
}
